footer#footer
  .footer-top
    .container
      .row
        .col-lg-3.col-md-6.footer-contact
          h3 დიდი ამნისტია
          p
            | თბილისი
            br
            |              თავისუფლების მოედანი
            br
            |               9 აპრილის ქუჩა #3/5
            br
            br
            strong= 'ელფოსტა'
            |  info@amnistia.ge
            br
        .col-lg-2.col-md-6.footer-links
          h4 ნავიგაცია
          ul
            li
              i.bx.bx-chevron-right
              a(href='/#hero') მთავარი
            li
              i.bx.bx-chevron-right
              a(href='/#about') ჩვენს შესახებ
            li
              i.bx.bx-chevron-right
              a(href='/#testimonials') წევრები
            li
              i.bx.bx-chevron-right
              a(href='/#services') პრინციპები
            li
              i.bx.bx-chevron-right
              a(href='/#team') გუნდი
            li
              i.bx.bx-chevron-right
              a(href='/#faq') წევრობა
        .col-lg-3.col-md-6.footer-links
          h4 პრინციპები
          ul
            li
              i.bx.bx-chevron-right
              |  მართვა
            li
              i.bx.bx-chevron-right
              |  შემოსავალი
            li
              i.bx.bx-chevron-right
              |  ხარჯები
            li
              i.bx.bx-chevron-right
              |  საჯაროობა
            li
              i.bx.bx-chevron-right
              |  კონფლიქტები
            li
              i.bx.bx-chevron-right
              |  დაფუძნება
  .container.d-md-flex.py-4
    .me-md-auto.text-center.text-md-start
      .copyright
        | &copy; ყველა საავტორო უფლების თავზეც გავიარეთ.
        strong
          span  გირჩი
      .credits
    .social-links.text-center.text-md-right.pt-3.pt-md-0
      a.twitter(href='https://twitter.com/girchiparty' target='_blank')
        i.bx.bxl-twitter
      a.facebook(href='https://www.facebook.com/GirchiParty/' target='_blank')
        i.bx.bxl-facebook
      a.instagram(href='https://www.instagram.com/girchiparty/' target='_blank')
        i.bx.bxl-instagram
      a.linkedin(href='https://ge.linkedin.com/company/%E1%83%92%E1%83%98%E1%83%A0%E1%83%A9%E1%83%98-girchi' target='_blank')
        i.bx.bxl-linkedin
// End Footer