footer#footer
  .footer-top
    .container
      .row
        .col-lg-3.col-md-6.footer-contact
          h3 Legalize.ge
          p
            | &#x10D7;&#x10D1;&#x10D8;&#x10DA;&#x10D8;&#x10E1;&#x10D8;
            br
            |               &#x10D7;&#x10D0;&#x10D5;&#x10D8;&#x10E1;&#x10E3;&#x10E4;&#x10DA;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10DB;&#x10DD;&#x10D4;&#x10D3;&#x10D0;&#x10DC;&#x10D8;
            br
            |               9 &#x10D0;&#x10DE;&#x10E0;&#x10D8;&#x10DA;&#x10D8;&#x10E1; &#x10E5;&#x10E3;&#x10E9;&#x10D0; #3/5
            br
            br
            strong &#x10D4;&#x10DB;&#x10D0;&#x10D8;&#x10DA;&#x10D8;
            |  info@legalize.ge
            br
        .col-lg-2.col-md-6.footer-links
          h4 &#x10DC;&#x10D0;&#x10D5;&#x10D8;&#x10D2;&#x10D0;&#x10EA;&#x10D8;&#x10D0;
          ul
            li
              i.bx.bx-chevron-right
              a(href='#hero') &#x10DB;&#x10D7;&#x10D0;&#x10D5;&#x10D0;&#x10E0;&#x10D8;
            li
              i.bx.bx-chevron-right
              a(href='#about') &#x10E9;&#x10D5;&#x10D4;&#x10DC;&#x10E1; &#x10E8;&#x10D4;&#x10E1;&#x10D0;&#x10EE;&#x10D4;&#x10D1;
            li
              i.bx.bx-chevron-right
              a(href='#testimonials') &#x10DB;&#x10DD;&#x10DB;&#x10EE;&#x10DB;&#x10D0;&#x10E0;&#x10D4;&#x10D1;&#x10D4;&#x10DA;&#x10D4;&#x10D1;&#x10D8;
            li
              i.bx.bx-chevron-right
              a(href='#services') &#x10DE;&#x10E0;&#x10D8;&#x10DC;&#x10EA;&#x10D8;&#x10DE;&#x10D4;&#x10D1;&#x10D8;
            li
              i.bx.bx-chevron-right
              a(href='#portfolio') &#x10DE;&#x10E0;&#x10DD;&#x10D3;&#x10E3;&#x10E5;&#x10E2;&#x10D4;&#x10D1;&#x10D8;
            li
              i.bx.bx-chevron-right
              a(href='#team') &#x10D2;&#x10E3;&#x10DC;&#x10D3;&#x10D8;
            li
              i.bx.bx-chevron-right
              a(href='#faq') &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10DD;&#x10D1;&#x10D0;
        .col-lg-3.col-md-6.footer-links
          h4 &#x10DE;&#x10E0;&#x10D8;&#x10DC;&#x10EA;&#x10D8;&#x10DE;&#x10D4;&#x10D1;&#x10D8;
          ul
            li
              i.bx.bx-chevron-right
              |  &#x10DB;&#x10D0;&#x10E0;&#x10D7;&#x10D5;&#x10D0;
            li
              i.bx.bx-chevron-right
              |  &#x10E8;&#x10D4;&#x10DB;&#x10DD;&#x10E1;&#x10D0;&#x10D5;&#x10DA;&#x10D4;&#x10D1;&#x10D8;
            li
              i.bx.bx-chevron-right
              |  &#x10EE;&#x10D0;&#x10E0;&#x10EF;&#x10D4;&#x10D1;&#x10D8;
            li
              i.bx.bx-chevron-right
              |  &#x10E1;&#x10D0;&#x10EF;&#x10D0;&#x10E0;&#x10DD;&#x10DD;&#x10D1;&#x10D0;
            li
              i.bx.bx-chevron-right
              |  &#x10D9;&#x10DD;&#x10DC;&#x10E4;&#x10DA;&#x10D8;&#x10E5;&#x10E2;&#x10D4;&#x10D1;&#x10D8;
            li
              i.bx.bx-chevron-right
              |  &#x10D3;&#x10D0;&#x10E4;&#x10E3;&#x10EB;&#x10DC;&#x10D4;&#x10D1;&#x10D0;
  .container.d-md-flex.py-4
    .me-md-auto.text-center.text-md-start
      .copyright
        | &copy; &#x10E7;&#x10D5;&#x10D4;&#x10DA;&#x10D0; &#x10E1;&#x10D0;&#x10D0;&#x10D5;&#x10E2;&#x10DD;&#x10E0;&#x10DD; &#x10E3;&#x10E4;&#x10DA;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10D7;&#x10D0;&#x10D5;&#x10D6;&#x10D4;&#x10EA; &#x10D2;&#x10D0;&#x10D5;&#x10D8;&#x10D0;&#x10E0;&#x10D4;&#x10D7;.
        strong
          span  &#x10D2;&#x10D8;&#x10E0;&#x10E9;&#x10D8;
      .credits
    .social-links.text-center.text-md-right.pt-3.pt-md-0
      a.twitter(href='https://twitter.com/girchiparty' target='_blank')
        i.fab.fa-twitter
      a.facebook(href='https://www.facebook.com/GirchiParty/' target='_blank')
        i.fab.fa-facebook
      a.instagram(href='https://www.instagram.com/girchiparty/' target='_blank')
        i.fab.fa-instagram
      a.linkedin(href='https://ge.linkedin.com/company/%E1%83%92%E1%83%98%E1%83%A0%E1%83%A9%E1%83%98-girchi' target='_blank')
        i.fab.fa-linkedin