header#header.fixed-top
  .container.d-flex.align-items-center.justify-content-between
    h1.logo
      a(href='/')
        img(src='/assets/img/kanafi.png' alt='cannabis')
    // Uncomment below if you prefer to use an image logo
    // <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
    nav#navbar.navbar
      ul
        li
          a.nav-link.scrollto.active(href='/#hero') &#x10DB;&#x10D7;&#x10D0;&#x10D5;&#x10D0;&#x10E0;&#x10D8;
        li
          a.nav-link.scrollto(href='/#about') &#x10E8;&#x10D4;&#x10E1;&#x10D0;&#x10EE;&#x10D4;&#x10D1;
        li
          a.nav-link.scrollto(href='/#testimonials') &#x10DB;&#x10DD;&#x10DB;&#x10EE;&#x10DB;&#x10D0;&#x10E0;&#x10D4;&#x10D1;&#x10D4;&#x10DA;&#x10D4;&#x10D1;&#x10D8;
        li
          a.nav-link.scrollto(href='/#services') &#x10DE;&#x10E0;&#x10D8;&#x10DC;&#x10EA;&#x10D8;&#x10DE;&#x10D4;&#x10D1;&#x10D8;
        li
          a.nav-link.scrollto.o(href='/#portfolio') &#x10DE;&#x10E0;&#x10DD;&#x10D3;&#x10E3;&#x10E5;&#x10E2;&#x10D4;&#x10D1;&#x10D8;
        li
          a.nav-link.scrollto(href='/#team') &#x10D2;&#x10E3;&#x10DC;&#x10D3;&#x10D8;
        li
          a.nav-link.scrollto(href='/#faq') &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10DD;&#x10D1;&#x10D0;
        li
          a.getstarted.scrollto(href='https://www.girchi.com/donate/project/legalize') &#x10E8;&#x10D4;&#x10DB;&#x10DD;&#x10D2;&#x10D5;&#x10D8;&#x10D4;&#x10E0;&#x10D7;&#x10D3;&#x10D8;
      i.bi.bi-list.mobile-nav-toggle