.leaderboard__profiles{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 10rem;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
}
.leaderboard__profile{
  margin: 1rem;
  padding: 1rem 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.leaderboard__profile:hover{
  transform: scale(1.01);
}
.leaderboard__name{
  margin-right: 1rem;
}
.fas{
  margin-left: 1rem;
}
/* #pdfId{
  background: rebeccapurple;
} */