.form {
  display: flex;
  align-items: center;  
  flex-direction: column;
  margin: 2rem auto 2rem;
  padding: 3rem;

  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
}

.heading {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 2rem;
}

.form-group {
  width: 100%;
}

.form-control {
  border: none;
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  background: none;
}

.form-control:active,
.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000;
}

.col-form-label {
  color: #000;
  font-size: 13px;
}

.form-control {
  height: 45px;
  border-radius: 0;
}

.btn {
  font-size: 1rem;
  color: #fff;
  background: #327f37;
  border: none;
  border-radius: 30px;
  padding: .5rem 1rem;
  transition: 500ms ease;
}

.btn:active,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn:hover {
  color: #fff;
  transform: scale(1.05);
}

.col-form-label {
  font-size: 14px;
  color: #b3b3b3;
  display: inline-block;
  padding: 0;
}

.messages {
  width: 100%;
}

.messages i {
  font-size: 1.5rem;
}

.alert {
  display: none;
}

.show {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hide {
  display: none;
}

.sign-options {
  list-style: none;
  padding: 0;
}

.sign-options li {
  padding: 20px;
  background-color: #f6f6f6;
  border-radius: 4px;
  position: relative;
  margin-top: 15px;
}

.sign-options a {
  display: block;
  position: relative;
  font-family: "BPG Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 900;
  color: #000;
  outline: none;
  cursor: pointer;
  
}

.sign-options .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: #327f37;
}

.sign-options .icon-show,
.sign-options .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.sign-options p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.sign-options .icon-show {
  display: none;
}

.sign-options a.collapsed {
  color: #343a40;
}

.sign-options a.collapsed:hover {
  color: #000;
}

.sign-options a.collapsed .icon-show {
  display: inline-block;
}

.sign-options a.collapsed .icon-close {
  display: none;
}

@media(max-width: 450px) {
  .form {
    padding: 2rem;
  }

  .heading {
    font-size: 1.5rem;
  }
  
  .btn {
    font-size: .9rem;
  }

  .messages {
    font-size: .85rem;
  }

  .messages i {
    font-size: 1rem;
  }

  .sign-options a {
    font-size: 14px;
  }
}

#petitionList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

#petitionList li {
  margin-top: .3rem;
  background-color: #f6f6f6;
  padding: .5rem;
  text-decoration: none;
  font-size: .95rem;
  color: black;
  display: block;
}

#petitionList li:hover {
  background-color: #eee;
}