
@import url("//cdn.web-fonts.ge/fonts/bpg-web-002/css/bpg-web-002.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-nino-mtavruli-bold/css/bpg-nino-mtavruli-bold.min.css");

.user-search{
    height:fit-content;
    margin-top: 10rem;
}
#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    outline: none;
    margin-bottom: 12px;
    margin-top: 20px;
  }
  
  #myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myUL li a {
    margin-top: 10px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
}
  
#myUL li a:hover:not(.header) {
    background-color: #eee;
}
 

.user-pic {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    object-fit: cover;
}
.user--name{
    margin-left: 1rem;
    font-size: 0.9rem;
}
.user--li{
    margin-top: 0.8rem;
}

/* User Page Styles */
.user-info {
    margin: 6rem 0 1rem;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info--pic {
    width: 150px;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;    
}

.user-info--text {
    flex: 1;
    margin-left: 32px;
}

.quote {
    text-align: justify;
}

/* User LowerScreen Sizes */
@media(max-width: 768px){
    .user-info {
        margin: 6rem 0 1rem;
        height: 75px;
    }
    
    .user-info--pic {
        width: 75px;  
    }
    .user-info--text {
        flex: 1;
        margin-left: 9px;
    }
    .user-info--text h4 {
        font-size: 18px;
        margin-bottom: 0;
    }
    .user-info--text span {
        font-size: 14px;
    }
    .quote {
        font-size: 14px;
    }
}

/*QR Code */
#qrcode {
    width: 150px;
    height: 100%;
}

#qrcode img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Card Styles */
.cards {
    display: flex;
    gap: 16px;
    margin-bottom: 1rem;

}

.card-side {
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
    font-weight: 400;
    width: 166.6mm;
    height: 105mm;
    border: 0;
    border-radius: 22px;
    letter-spacing: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-side::before {
    content: '';
    width: 420px;
    height: 420px;
    background: url('../img/kanafi.png') no-repeat center/contain;
    position: absolute;
    left: 90px;
    top: 20px;
    opacity: 0.15;
    transform: rotate(341.13deg) ;
}

.card-header {
    background-color: transparent;
    padding: 40px 40px 0 40px;
    border: 0;
    font-size: 26px;
    color: #6EAC43;
    margin-bottom: 24px;
}

.card-main {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    flex: 1;
}

.card-info {
    margin-top: 20px;
}

.card-info span {
    font-family: "BPG WEB 002", sans-serif;
    display: block;
    font-size: 12px;
    color: #6A6A6A;
}

.card-info h4 {
    font-family: inherit;
    font-size: 22px;
    color: #040505;
    margin-bottom: 12px;
}

.card-img {
    width: 130px;
    height: 160px;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-footer {
    background-color: transparent;
    padding: 24px 40px 24px;
    border: 0;
    font-size: 18px;
    color: #040505;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}

.bedge {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.bedge-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 12px;
    margin-bottom: 12px;
}

.bedge-icon .img-fluid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(max-width: 1400px){
    .cards {
        flex-direction: flex;
    }
}

/* Card Media Queries */
@media(max-width: 768px){
    .card-side {
        width: 91mm;
        height: 57.3mm;
        border-radius: 11px;
    }
    
    .card-side::before {
        width: 210px;
        height: 210px;
        left: 45px;
        top: 10px;
    }

    .card-header {
        padding: 20px 20px 0 20px;
        font-size: 13px;
        margin-bottom: 12px;
    }

    .card-main {
        padding: 0 20px;
    }

    .card-info {
        margin-top: 10px;
    }

    .card-info span {
        font-size: 6px;
    }

    .card-info h4 {
        font-size: 11px;
        margin-bottom: 6px;
    }

    .card-img {
        width: 65px;
        height: 80px;
    }

    .card-footer {
        padding: 12px 20px 12px;
        font-size: 9px;
    }

    .bedge-icon {
        width: 30px;
        height: 30px;
        margin-right: 6px;
        margin-bottom: 6px;
    }

    #qrcode {
        width: 75px;
    }
}

@media(max-width: 375px){
    .card-side {
        width: 89mm;
        height: 54.3mm;
        border-radius: 11px;
    }
    
    .card-side::before {
        width: 200px;
        height: 200px;
        left: 40px;
        top: 8px;
    }

    .card-header {
        padding: 18px 18px 0 18px;
        font-size: 12px;
        margin-bottom: 11px;
    }

    .card-main {
        padding: 0 18px;
    }

    .card-info {
        margin-top: 8px;
    }

    .card-info span {
        font-size: 5px;
    }

    .card-info h4 {
        font-size: 10px;
        margin-bottom: 5px;
    }

    .card-img {
        width: 60px;
        height: 75px;
    }

    .card-footer {
        padding: 10px 18px 10px;
        font-size: 8px;
    }

    .bedge-icon {
        width: 27px;
        height: 27px;
        margin-right: 5px;
        margin-bottom: 5px;
    }
}

/* Golden Card Start */
.card-goldeninvestor .card-side {
    background: #FFF4CD;
}

.card-goldeninvestor .card-footer {
   background: url('../img/card/1.svg') no-repeat left top/cover;
}
/* Golden Card End */

/* CBD Card Start */
.card-cbd .card-side {
    background: #FFCDCD;
}

.card-cbd .card-footer {
   background: url('../img/card/2.svg') no-repeat left top/cover;
}
/* CBD Card End */

/* Grower Card Start */
.card-grower .card-side {
    background: #EBFFCD;
}

.card-grower .card-footer {
   background: url('../img/card/3.svg') no-repeat left top/cover;
}
/* Grower Card End */

/* Founder Card Start */
.card-founder .card-side {
    background: #E5F9B7;
}

.card-founder .card-footer {
   background: url('../img/card/4.svg') no-repeat left top/cover;
}
/* Founder Card End */

/* Smoker Card Start */
.card-smoker .card-side {
    background: #F9DCB7;
}

.card-smoker .card-footer {
   background: url('../img/card/5.svg') no-repeat left top/cover;
}
/* Smoker Card End */

/* Supporter Card Start */
.card-supporter .card-side {
    background: #D8EEFF;
}

.card-supporter .card-footer {
   background: url('../img/card/6.svg') no-repeat left top/cover;
}
/* Supporter Card End */

/* Investor Card Start */
.card-investor .card-side {
    background: #F3FFD8;
}

.card-investor .card-footer {
   background: url('../img/card/7.svg') no-repeat left top/cover;
}
/* Investor Card End */

/* Owner Card Start */
.card-owner .card-side {
    background: #EED8FF;
}

.card-owner .card-footer {
   background: url('../img/card/8.svg') no-repeat left top/cover;
}
/* Owner Card End */

.btn-default {
    background: #327F37;
    padding: 8px 20px;
    border-radius: 4px;
    color: #fff;
    transition: 500ms ease;
    margin-right: 1rem;
  }
  
.btn-default:hover {
    transform: scale(1.05);
    color: #fff;
}

.btn-switch {
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 2.5rem;
    color: #327F37;
    cursor: none;
    transition: 500ms ease;
    line-height: 0;
}

.btn-switch:hover {
    transform: scale(1.05);
    color: #3f8d45;
}

