@import url("//cdn.web-fonts.ge/fonts/bpg-web-002/css/bpg-web-002.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-nino-mtavruli-bold/css/bpg-nino-mtavruli-bold.min.css");

.user-search {
  height: fit-content;
  margin-top: 10rem;
}
#myInput {
  background-image: url("/css/searchicon.png");
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  outline: none;
  margin-bottom: 12px;
  margin-top: 20px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  margin-top: 10px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

.user-pic {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  object-fit: cover;
}
.user--name {
  margin-left: 1rem;
  font-size: 0.9rem;
}
.user--li {
  margin-top: 0.8rem;
}

/* User Page Styles */
.user-info {
  margin: 6rem 0 1rem;
  height: 150px;
  display: grid;
  grid-template-columns: 1fr 9fr 1fr;
  justify-content: space-between;
  align-items: center;
}

.user-info--pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.user-info--text {
  flex: 1;
  margin-left: 32px;
}
.user-info--text .main-status {
  display: inline-block;
  padding: 3px 8px;
  border-radius: 4px;
  background: #327f37;
  color: #ffffff;
}
.user-info--text span {
  display: inline-block;
  margin-right: 16px;
}

.quote {
  text-align: justify;
}

/* User LowerScreen Sizes */
@media (max-width: 768px) {
  .user-info {
    margin: 6rem 0 1rem;
    height: 75px;
  }

  .user-info--pic {
    width: 75px;
    height: 75px;
  }
  .user-info--text {
    flex: 1;
    margin-left: 9px;
  }
  .user-info--text h4 {
    font-size: 18px;
    margin-bottom: 6px;
  }
  .user-info--text span {
    font-size: 14px;
  }
  .quote {
    font-size: 14px;
  }
}

@media (max-width: 420px) {
  .user-info {
    height: auto;
    grid-template-columns: 1fr 1fr;
  }

  .user-info--pic {
    order: 1;
  }
  #qrcode {
    order: 2;
    justify-self: flex-end;
  }
  .user-info--text {
    grid-column: 1/3;
    order: 3;
    margin: 8px 0 0;
  }
}

/*QR Code */
#qrcode {
  width: 150px;
  height: 100%;
}

#qrcode img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Card Styles */
.cards {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 2rem 0;
}

.card-side {
  font-family: "BPG Nino Mtavruli Bold", sans-serif;
  font-weight: 400;
  width: 166.6mm;
  height: 105mm;
  border: 0;
  letter-spacing: 0;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
}

.card-side::before {
  content: "";
  width: 450px;
  height: 400px;
  background: url("../img/card/amnistia.png") no-repeat center/contain;
  position: absolute;
  left: 50px;
  top: 50px;
  opacity: 0.09;
  transform: rotate(49deg);
  z-index: -10;
}

.left-style {
    width: 38%;
    height: 100%;
    position: absolute;
    background-color: #FCDBDB;
    z-index: -5;
}


.card-header {
  background-color: transparent;
  padding: 40px 40px 0 40px;
  border: 0;
  font-size: 26px;
  color: #AC4343;
  margin-bottom: 24px;
}

.card-main {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  flex: 1;
  gap: 4px;
}

.card-info {
  margin-top: 20px;
}

.card-info span {
  font-family: "BPG WEB 002", sans-serif;
  display: block;
  font-size: 12px;
  color: #6a6a6a;
}

.card-info h4 {
  font-family: inherit;
  font-size: 22px;
  color: #040505;
  margin-bottom: 12px;
}

.card-img {
  min-width: 130px;
  width: 130px;
  height: 160px;
  margin-left: 8px;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-footer {
  background-color: transparent;
  padding: 24px 40px 24px;
  border: 0;
  font-size: 18px;
  color: #040505;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}

.card-footer * {
  font-size: inherit;
}

.bedge {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.bedge-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 12px;
  margin-bottom: 12px;
}

.bedge-icon .img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1400px) {
  .card-side {
    width: 142.8mm;
    height: 90mm;
  }
  .card-side::before {
    width: 330px;
    height: 330px;
    left: 85px;
    top: 20px;
  }
  .card-img {
    min-width: 110px;
    width: 110px;
    height: 140px;
  }
  .card-header {
    padding: 30px 30px 0 30px;
    font-size: 23px;
    margin-bottom: 10px;
  }
  .card-main {
    padding: 0 30px;
  }
  .card-main h4 {
    font-size: 20px;
  }
  .card-footer {
    padding: 16px 30px 12px;
  }
}

@media (max-width: 1200px) {
  .cards {
    flex-direction: column;
  }
}

/* Card Media Queries */
@media (max-width: 768px) {
  .card-side {
    width: 91mm;
    height: 57.3mm;
    border-radius: 11px;
  }

  .card-side::before {
    width: 220px;
    height: 220px;
    left: 45px;
    top: 10px;
  }

  .card-header {
    padding: 20px 20px 0 20px;
    font-size: 13px;
    margin-bottom: 12px;
  }

  .card-main {
    padding: 0 20px;
  }

  .card-info {
    margin-top: 10px;
  }

  .card-info span {
    font-size: 8px;
  }

  .card-info h4 {
    font-size: 12px;
    margin-bottom: 6px;
  }

  .card-img {
    min-width: 65px;
    width: 65px;
    height: 80px;
  }

  .card-footer {
    padding: 18px 20px 12px;
    font-size: 11px;
  }

  .bedge-icon {
    width: 30px;
    height: 30px;
    margin-right: 6px;
    margin-bottom: 6px;
  }

  #qrcode {
    width: 75px;
  }
}

@media (max-width: 375px) {
  .card-side {
    width: 89mm;
    height: 54.3mm;
    border-radius: 11px;
  }

  .card-side::before {
    width: 220px;
    height: 220px;
    left: 40px;
    top: 8px;
  }

  .card-header {
    padding: 18px 18px 0 18px;
    font-size: 13px;
    margin-bottom: 14px;
  }

  .card-main {
    padding: 0 18px;
  }

  .card-info {
    margin-top: 8px;
  }

  .card-info span {
    font-size: 8px;
  }

  .card-info h4 {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .card-img {
    min-width: 60px;
    width: 60px;
    height: 75px;
  }

  .card-footer {
    padding: 18px 18px 10px;
    font-size: 11px;
  }

  .bedge-icon {
    width: 27px;
    height: 27px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

.btn-default {
  background: #327f37;
  padding: 8px 20px;
  border-radius: 4px;
  color: #fff;
  transition: 500ms ease;
  margin-right: 1rem;
}

.btn-default:hover {
  transform: scale(1.05);
  color: #fff;
}

.btn-switch {
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: 2.5rem;
  color: #327f37;
  cursor: none;
  transition: 500ms ease;
  line-height: 0;
}

.btn-switch:hover {
  transform: scale(1.05);
  color: #3f8d45;
}
