@import url("//cdn.web-fonts.ge/fonts/bpg-web-002/css/bpg-web-002.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-nino-mtavruli-bold/css/bpg-nino-mtavruli-bold.min.css");

/* All Users Page */
#searchInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  outline: none;
  margin-bottom: 12px;
  margin-top: 20px;
}

#usersList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#usersList li a {
  margin-top: 10px;
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

#usersList li a:hover:not(.header) {
  background-color: #eee;
}

.user-search {
  margin-top: 2rem;
}

.list-user {
  margin-top: 0.8rem;
}

.list-user .user-img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  object-fit: cover;
}
.list-user .user-name {
  margin-left: 1rem;
  font-size: 0.9rem;
}


/* User Page Styles */
.profile-header {
  height: 150px;
  display: grid;
  grid-template-columns: 1fr 9fr 1fr;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.profile-header .user-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-header .user-text {
  flex: 1;
  margin-left: 32px;
}

.profile-header .user-text .main-status {
  display: inline-block;
  padding: 3px 8px;
  border-radius: 4px;
  background: #2e6631;
  color: #ffffff;
}

.profile-header .user-text span {
  display: inline-block;
  margin-right: 16px;
}

.edit-btn {
  display: none;
  text-align: end;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.edit-btn-active {
  display: block;
}

/* Screens Lower than 768px */
@media (max-width: 768px) {
  .profile-header {
    height: 75px;
  }

  .profile-header .user-img {
    width: 75px;
    height: 75px;
  }
  
  .profile-header .user-text {
    flex: 1;
    margin-left: 9px;
  }

  .profile-header .user-text h4 {
    font-size: 18px;
    margin-bottom: 6px;
  }

  .profile-header .user-text span {
    font-size: 14px;
  }
}

/* Screens Lower than 768px */
@media (max-width: 420px) {
  .profile-header {
    height: auto;
    grid-template-columns: 1fr 1fr;
  }

  .profile-header .user-img {
    order: 1;
  }

  .profile-header .edit-btn {
    order: 2;
    justify-self: flex-end;
  }

  .profile-header .user-text {
    grid-column: 1/3;
    order: 3;
    margin: 12px 0 0;
  }
}


/* Card Styles */
.cards {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 2rem 0;
}

.cards .card-side {
  font-family: "BPG Nino Mtavruli Bold", sans-serif;
  font-weight: 400;
  width: 166.6mm;
  height: 105mm;
  border: 0;
  letter-spacing: 0;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
}

.cards .card-side::before {
  content: "";
  width: 450px;
  height: 400px;
  background: url("../img/card/amnistia.png") no-repeat center/contain;
  position: absolute;
  left: 50px;
  top: 50px;
  opacity: 0.09;
  transform: rotate(49deg);
  z-index: -10;
}

.cards svg {
  width: 46%;
  height: 100%;
  position: absolute;
  left: -1px;
  z-index: -5;

}

.cards header {
  background-color: transparent;
  padding: 40px 40px 0 40px;
  border: 0;
  font-size: 26px;
  color: #AC4343;
  margin-bottom: 24px;
}

.cards main {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  flex: 1;
  gap: 4px;
}

.cards .card-col {
  margin-top: 20px;
  text-transform: capitalize;
}

.cards main span {
  font-family: "BPG WEB 002", sans-serif;
  display: block;
  font-size: 12px;
  color: #6a6a6a;
}

.cards main h4 {
  font-family: inherit;
  font-size: 22px;
  color: #040505;
  margin-bottom: 12px;
}

.cards .card-img {
  min-width: 130px;
  width: 130px;
  height: 160px;
  object-fit: cover;
}

.cards footer {
  background-color: transparent;
  padding: 24px 40px 24px;
  border: 0;
  font-size: 18px;
  color: #040505;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}

.cards footer * {
  font-family: inherit;
  font-size: inherit;
}

.cards .card-status {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.cards .card-status img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 12px;
  margin-bottom: 12px;
  object-fit: cover;
}

/* Card sizes on lower screens */
@media (max-width: 1400px) {
  .cards {
    width: 1300px;
    transform: scale(0.9) translateX(-7.5%);
  }
}

@media (max-width: 1200px) {
  .cards {
    transform: scale(0.7) translate(-20% , -20%);
    margin-bottom: -50px;
  }
}

@media (max-width: 1078px) {
  .cards {
    transform: scale(0.7) translate(-20% , -20%);
  }
}

@media (max-width: 994px) {
  .cards {
    transform: none;
    flex-direction: column;
    width: auto;
    align-items: center;
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .cards {
    transform: scale(0.8) translate(0, -15%);
    margin-bottom: -100px;
  }
}

@media (max-width: 528px) {
  .cards {
    transform: scale(0.6) translate(0, -35%);
    margin-bottom: -250px;
  }
}

@media (max-width: 400px) {
  .cards {
    transform: scale(0.55) translate(0, -43%);
    margin-bottom: -350px;
  }
}


/* Card Form Styles */
#cardForm {
  margin-top: 1rem;
}

form .btn {
  width: calc(100% - 23px);
  margin: 0.5rem auto;
  padding: 6px 0;
}

.choices {
  height: 39px;
} 

.choices__inner {
  background-color: transparent;
  border-radius: 4px;
  padding: 5px 0 0 5px;
  height: 100%;
  overflow-y: scroll;
  min-height: auto;
}

.choices__input {
  background-color: transparent;
}

.row > div {
  padding-top: inherit;
  padding-bottom: inherit;
}