// ======= Head =======
include parts/head.pug
// End Head

// Template Main CSS File
link(href='/assets/css/style.css' rel='stylesheet')

body
  // ======= Header =======
  include parts/header.pug
  // End Header

  // ======= main =======
  main.container.documents
    each PDF in PDFDirectory  
      a(href=`/generate/pdf/${PDF}` download target='_blank')
        article.document-canvas
          span.document-value
            span= PDF
            span
              i.fas.fa-cloud-download-alt

  // ======= Footer =======
  include parts/footer.pug
  // End Footer

// ======= Scripts =======
include parts/scripts.pug
// End Scripts

// Template Main JS File
script(src='/assets/js/main.js')