// ======= Head =======
include parts/head.pug
// End Head

// Template Main CSS File
link(href='/assets/css/style.css' rel='stylesheet')

body
  // ======= Header =======
  include parts/header.pug
  // End Header

  // ======= main =======
  main.container.documents

    form.row(action='/cards-download' method='POST')
      button.btn.btn-success(type='submit') Regenerate Documents

  
    hr

    each document in documentsDir  
      a(href=`/generate/pdf/${document}` download target='_blank')
        article.document-canvas
          span.document-value
            span= document
            span
              i.fas.fa-cloud-download-alt
    hr

  // ======= Footer =======
  include parts/footer.pug
  // End Footer

// ======= Scripts =======
include parts/scripts.pug
// End Scripts