doctype html
head
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  title Legalize
  meta(content='' name='description')
  meta(content='' name='keywords')
  // Favicons
  link(href='assets/img/kanafi.png' rel='icon')
  link(href='assets/img/apple-touch-icon.png' rel='apple-touch-icon')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' rel='stylesheet')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.1/css/all.css' integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf' crossorigin='anonymous')
  // Vendor CSS Files
  link(href='assets/vendor/aos/aos.css' rel='stylesheet')
  link(href='assets/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  link(href='assets/vendor/bootstrap-icons/bootstrap-icons.css' rel='stylesheet')
  link(href='assets/vendor/boxicons/css/boxicons.min.css' rel='stylesheet')
  link(href='assets/vendor/glightbox/css/glightbox.min.css' rel='stylesheet')
  link(href='assets/vendor/remixicon/remixicon.css' rel='stylesheet')
  link(href='assets/vendor/swiper/swiper-bundle.min.css' rel='stylesheet')
  // Template Main CSS File
  link(href='assets/css/style.css' rel='stylesheet')
// ======= Header =======
header#header.fixed-top
  .container.d-flex.align-items-center.justify-content-between
    h1.logo
      a(href='/')
        img(src='assets/img/kanafi.png' alt='cannabis')
    nav#navbar.navbar
      ul
        li
          a.nav-link.scrollto.active(href='/') &#x10DB;&#x10D7;&#x10D0;&#x10D5;&#x10D0;&#x10E0;&#x10D8;
        li
          a.nav-link.scrollto(href='/#about') &#x10E8;&#x10D4;&#x10E1;&#x10D0;&#x10EE;&#x10D4;&#x10D1;
        li
          a.nav-link.scrollto(href='/#testimonials') &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D4;&#x10D1;&#x10D8;
        li
          a.nav-link.scrollto(href='/#services') &#x10DE;&#x10E0;&#x10D8;&#x10DC;&#x10EA;&#x10D8;&#x10DE;&#x10D4;&#x10D1;&#x10D8;
        li
          a.nav-link.scrollto.o(href='/#portfolio') &#x10DE;&#x10E0;&#x10DD;&#x10D3;&#x10E3;&#x10E5;&#x10E2;&#x10D4;&#x10D1;&#x10D8;
        li
          a.nav-link.scrollto(href='/#team') &#x10D2;&#x10E3;&#x10DC;&#x10D3;&#x10D8;
        li
          a.nav-link.scrollto(href='/#faq') &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10DD;&#x10D1;&#x10D0;
        li
          a.getstarted.scrollto(href='https://www.girchi.com/donate/project/legalize') &#x10E8;&#x10D4;&#x10DB;&#x10DD;&#x10D2;&#x10D5;&#x10D8;&#x10D4;&#x10E0;&#x10D7;&#x10D3;&#x10D8;
      i.bi.bi-list.mobile-nav-toggle
    // .navbar
// End Header
main#main
  section#constitution.constitution.section-bg
    .container
      h1 &#x10D0;&#x10E0;&#x10D0;&#x10E4;&#x10DD;&#x10E0;&#x10DB;&#x10D0;&#x10DA;&#x10E3;&#x10E0;&#x10D8; &#x10DD;&#x10E0;&#x10D2;&#x10D0;&#x10DC;&#x10D8;&#x10D6;&#x10D0;&#x10EA;&#x10D8;&#x10D0; &#x10D9;&#x10D0;&#x10DC;&#x10D0;&#x10E4;&#x10D8;&#x10E1; &#x10DB;&#x10DD;&#x10E7;&#x10D5;&#x10D0;&#x10E0;&#x10E3;&#x10DA;&#x10D7;&#x10D0; &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10D9;&#x10DD;&#x10DC;&#x10E1;&#x10E2;&#x10D8;&#x10E2;&#x10E3;&#x10EA;&#x10D8;&#x10D0;
      section.wewant
        h2 &#x10DB;&#x10D8;&#x10D6;&#x10DC;&#x10D4;&#x10D1;&#x10D8;
        p &#x10E9;&#x10D5;&#x10D4;&#x10DC; &#x10D2;&#x10D5;&#x10D8;&#x10DC;&#x10D3;&#x10D0;:
        p &#x10E1;&#x10D0;&#x10E5;&#x10D0;&#x10E0;&#x10D7;&#x10D5;&#x10D4;&#x10DA;&#x10DD;&#x10E8;&#x10D8; &#x10D9;&#x10D0;&#x10DC;&#x10D0;&#x10E4;&#x10D8;&#x10E1; &#x10D3;&#x10D0; &#x10DB;&#x10D8;&#x10E1;&#x10D8; &#x10DE;&#x10E0;&#x10DD;&#x10D3;&#x10E3;&#x10E5;&#x10E2;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10E1;&#x10E0;&#x10E3;&#x10DA;&#x10D8; &#x10DA;&#x10D4;&#x10D2;&#x10D0;&#x10DA;&#x10D8;&#x10D6;&#x10D0;&#x10EA;&#x10D8;&#x10D0;.
        p &#x10E1;&#x10D0;&#x10E5;&#x10D0;&#x10E0;&#x10D7;&#x10D5;&#x10D4;&#x10DA;&#x10DD;&#x10E8;&#x10D8; &#x10DE;&#x10D8;&#x10E0;&#x10D5;&#x10D4;&#x10DA;&#x10D8; &#x10D9;&#x10DD;&#x10E4;&#x10D8;&#x10E8;&#x10DD;&#x10DE;&#x10D8;&#x10E1; &#x10D2;&#x10D0;&#x10EE;&#x10E1;&#x10DC;&#x10D0;.
        p &#x10D4;&#x10E0;&#x10D7;&#x10DB;&#x10D0;&#x10DC;&#x10D4;&#x10D7;&#x10D8;&#x10E1; &#x10D3;&#x10D0;&#x10EA;&#x10D5;&#x10D0; &#x10E1;&#x10D0;&#x10EE;&#x10D4;&#x10DA;&#x10DB;&#x10EC;&#x10D8;&#x10E4;&#x10DD; &#x10E1;&#x10D8;&#x10E1;&#x10E2;&#x10D4;&#x10DB;&#x10D8;&#x10E1; &#x10EB;&#x10D0;&#x10DA;&#x10D0;&#x10D3;&#x10DD;&#x10D1;&#x10D8;&#x10E1;&#x10D2;&#x10D0;&#x10DC;.
        p &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10E0;&#x10D8;&#x10D5;&#x10D8; &#x10EA;&#x10DC;&#x10DD;&#x10D1;&#x10D8;&#x10D4;&#x10E0;&#x10D4;&#x10D1;&#x10D8;&#x10E1;  &#x10D0;&#x10DB;&#x10D0;&#x10E6;&#x10DA;&#x10D4;&#x10D1;&#x10D0; &#x10D9;&#x10D0;&#x10DC;&#x10D0;&#x10E4;&#x10D8;&#x10E1; &#x10D9;&#x10E3;&#x10DA;&#x10E2;&#x10E3;&#x10E0;&#x10D0;&#x10E1;&#x10D7;&#x10D0;&#x10DC; &#x10D3;&#x10D0;&#x10D9;&#x10D0;&#x10D5;&#x10E8;&#x10D8;&#x10E0;&#x10D4;&#x10D1;&#x10D8;&#x10D7;.
      section
        h2 &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10DD;&#x10D1;&#x10D0;&#x10D6;&#x10D4;
        ul
          li
            | &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D8; &#x10E8;&#x10D4;&#x10D8;&#x10EB;&#x10DA;&#x10D4;&#x10D1;&#x10D0; &#x10D8;&#x10E7;&#x10DD;&#x10E1; &#x10DC;&#x10D4;&#x10D1;&#x10D8;&#x10E1;&#x10DB;&#x10D8;&#x10D4;&#x10E0;&#x10D8; &#x10D0;&#x10D3;&#x10D0;&#x10DB;&#x10D8;&#x10D0;&#x10DC;&#x10D8;, &#x10D2;&#x10D0;&#x10DC;&#x10E3;&#x10E0;&#x10E9;&#x10D4;&#x10D5;&#x10DA;&#x10D0;&#x10D3; &#x10E1;&#x10D0;&#x10EA;&#x10EE;&#x10DD;&#x10D5;&#x10E0;&#x10D4;&#x10D1;&#x10D4;&#x10DA;&#x10D8; &#x10D0;&#x10D3;&#x10D2;&#x10D8;&#x10DA;&#x10D8;&#x10E1;&#x10D0;, &#x10DE;&#x10E0;&#x10DD;&#x10E4;&#x10D4;&#x10E1;&#x10D8;&#x10D8;&#x10E1;&#x10D0;, &#x10DB;&#x10DD;&#x10E5;&#x10D0;&#x10DA;&#x10D0;&#x10E5;&#x10D4;&#x10DD;&#x10D1;&#x10D8;&#x10E1;&#x10D0;, &#x10DE;&#x10DD;&#x10DA;&#x10D8;&#x10E2;&#x10D8;&#x10D9;&#x10E3;&#x10E0;&#x10D8;, &#x10E0;&#x10D4;&#x10DA;&#x10D8;&#x10D2;&#x10D8;&#x10E3;&#x10E0;&#x10D8;, &#x10E1;&#x10D4;&#x10E5;&#x10E1;&#x10E3;&#x10D0;&#x10DA;&#x10E3;&#x10E0;&#x10D8;, &#x10D4;&#x10D7;&#x10DC;&#x10D8;&#x10D9;&#x10E3;&#x10E0;&#x10D8; &#x10D3;&#x10D0; &#x10D0;.&#x10E8;. &#x10D9;&#x10E3;&#x10D7;&#x10D5;&#x10DC;&#x10D8;&#x10DA;&#x10D4;&#x10D1;&#x10D8;&#x10E1;&#x10D0;, &#x10E0;&#x10DD;&#x10DB;&#x10D4;&#x10DA;&#x10D8;&#x10EA; &#x10D7;&#x10D5;&#x10DA;&#x10D8;&#x10E1;, &#x10E0;&#x10DD;&#x10DB; &#x10DB;&#x10D0;&#x10E1; &#x10D4;&#x10D9;&#x10E3;&#x10D7;&#x10D5;&#x10DC;&#x10D8;&#x10E1; &#x10E1;&#x10D0;&#x10D9;&#x10E3;&#x10D7;&#x10D0;&#x10E0;&#x10D8; &#x10E1;&#x10EE;&#x10D4;&#x10E3;&#x10DA;&#x10D8;, &#x10D8;&#x10EE;&#x10D3;&#x10D8;&#x10E1; &#x10E1;&#x10D0;&#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10DD;&#x10E1; &#x10D3;&#x10D0; &#x10D0;&#x10E6;&#x10D8;&#x10D0;&#x10E0;&#x10D4;&#x10D1;&#x10E1; &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10D9;&#x10DD;&#x10DC;&#x10E1;&#x10E2;&#x10D8;&#x10E2;&#x10E3;&#x10EA;&#x10D8;&#x10D0;&#x10E1;.
          li
            | &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D8; &#x10E8;&#x10D4;&#x10D8;&#x10EB;&#x10DA;&#x10D4;&#x10D1;&#x10D0; &#x10D8;&#x10E7;&#x10DD;&#x10E1; &#x10E3;&#x10DE;&#x10D0;&#x10E0;&#x10E2;&#x10D8;&#x10DD; &#x10D0;&#x10DC; &#x10E0;&#x10DD;&#x10DB;&#x10D4;&#x10DA;&#x10D8;&#x10DB;&#x10D4; &#x10DE;&#x10D0;&#x10E0;&#x10E2;&#x10D8;&#x10D8;&#x10E1; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D8; &#x10D0;&#x10DC; &#x10DB;&#x10EE;&#x10D0;&#x10E0;&#x10D3;&#x10D0;&#x10DB;&#x10ED;&#x10D4;&#x10E0;&#x10D8;, &#x10DB;&#x10D0;&#x10D2;&#x10E0;&#x10D0;&#x10DB; &#x10DB;&#x10D8;&#x10E1;&#x10D8; &#x10E1;&#x10D0;&#x10E5;&#x10DB;&#x10D8;&#x10D0;&#x10DC;&#x10DD;&#x10D1;&#x10D0; &#x10D0;&#x10E0; &#x10E3;&#x10DC;&#x10D3;&#x10D0; &#x10D4;&#x10EC;&#x10D8;&#x10DC;&#x10D0;&#x10D0;&#x10E6;&#x10DB;&#x10D3;&#x10D4;&#x10D2;&#x10D4;&#x10D1;&#x10DD;&#x10D3;&#x10D4;&#x10E1; &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10DB;&#x10D8;&#x10D6;&#x10DC;&#x10D4;&#x10D1;&#x10E1;.
          li
            | &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D8; &#x10D0;&#x10E0; &#x10E8;&#x10D4;&#x10D8;&#x10EB;&#x10DA;&#x10D4;&#x10D1;&#x10D0; &#x10D8;&#x10E7;&#x10DD;&#x10E1; &#x10E1;&#x10EE;&#x10D5;&#x10D0; &#x10DC;&#x10D0;&#x10E0;&#x10D9;&#x10DD;&#x10E2;&#x10D8;&#x10D9;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10DA;&#x10D4;&#x10D2;&#x10D0;&#x10DA;&#x10D8;&#x10D6;&#x10D0;&#x10EA;&#x10D8;&#x10D8;&#x10E1; &#x10EC;&#x10D8;&#x10DC;&#x10D0;&#x10D0;&#x10E6;&#x10DB;&#x10D3;&#x10D4;&#x10D2;&#x10D8; &#x10D3;&#x10D0; &#x10D0;&#x10DB; &#x10E1;&#x10D0;&#x10E4;&#x10E3;&#x10EB;&#x10D5;&#x10DA;&#x10D8;&#x10D7;, &#x10D0;&#x10E0; &#x10E3;&#x10DC;&#x10D3;&#x10D0; &#x10D8;&#x10D7;&#x10EE;&#x10DD;&#x10D5;&#x10D3;&#x10D4;&#x10E1; &#x10D0;&#x10D3;&#x10D0;&#x10DB;&#x10D8;&#x10D0;&#x10DC;&#x10D7;&#x10D0; &#x10D3;&#x10D0;&#x10E1;&#x10EF;&#x10D0;&#x10E1;.
          li
            | &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10DB;&#x10D8;&#x10D6;&#x10DC;&#x10D8;&#x10D3;&#x10D0;&#x10DC; &#x10D2;&#x10D0;&#x10DB;&#x10DD;&#x10DB;&#x10D3;&#x10D8;&#x10DC;&#x10D0;&#x10E0;&#x10D4;, &#x10DB;&#x10D8;&#x10E1;&#x10D8; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D4;&#x10D1;&#x10D8; &#x10EA;&#x10D3;&#x10D8;&#x10DA;&#x10DD;&#x10D1;&#x10D4;&#x10DC; &#x10D3;&#x10D0;&#x10D4;&#x10EE;&#x10DB;&#x10D0;&#x10E0;&#x10DD;&#x10DC; &#x10D3;&#x10D0;  &#x10D3;&#x10D0;&#x10D8;&#x10EA;&#x10D5;&#x10D0;&#x10DC; &#x10D4;&#x10E0;&#x10D7;&#x10DB;&#x10D0;&#x10DC;&#x10D4;&#x10D7;&#x10D8; &#x10EB;&#x10D0;&#x10DA;&#x10D0;&#x10D3;&#x10DD;&#x10D1;&#x10D8;&#x10E1;&#x10D2;&#x10D0;&#x10DC;, &#x10E0;&#x10DD;&#x10DB;&#x10D4;&#x10DA;&#x10D8;&#x10EA; &#x10DB;&#x10DD;&#x10DB;&#x10D3;&#x10D8;&#x10DC;&#x10D0;&#x10E0;&#x10D4;&#x10DD;&#x10D1;&#x10E1;  &#x10E1;&#x10D0;&#x10EE;&#x10D4;&#x10DA;&#x10DB;&#x10EC;&#x10D8;&#x10E4;&#x10DD; &#x10E1;&#x10D8;&#x10E1;&#x10E2;&#x10D4;&#x10DB;&#x10D8;&#x10E1; &#x10E1;&#x10D0;&#x10EE;&#x10D4;&#x10DA;&#x10D8;&#x10D7; &#x10DB;&#x10DD;&#x10E5;&#x10DB;&#x10D4;&#x10D3;&#x10D8; &#x10D0;&#x10D3;&#x10D0;&#x10DB;&#x10D8;&#x10D0;&#x10DC;&#x10D4;&#x10D1;&#x10D8;&#x10E1;&#x10D2;&#x10D0;&#x10DC;.
          li
            | &#x10D9;&#x10DD;&#x10DC;&#x10E4;&#x10DA;&#x10D8;&#x10E5;&#x10E2;&#x10D8;&#x10E1; &#x10E8;&#x10D4;&#x10DB;&#x10D7;&#x10EE;&#x10D5;&#x10D4;&#x10D5;&#x10D0;&#x10E8;&#x10D8;, &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10E1;&#x10D0;&#x10EE;&#x10D4;&#x10DA;&#x10D8;&#x10D7; &#x10DB;&#x10DD;&#x10DA;&#x10D0;&#x10DE;&#x10D0;&#x10E0;&#x10D0;&#x10D9;&#x10D4; &#x10D0;&#x10D3;&#x10D0;&#x10DB;&#x10D8;&#x10D0;&#x10DC;&#x10D8; &#x10E3;&#x10DC;&#x10D3;&#x10D0; &#x10D8;&#x10E7;&#x10DD;&#x10E1; &#x10DE;&#x10E0;&#x10D8;&#x10DC;&#x10EA;&#x10D8;&#x10DE;&#x10E3;&#x10DA;&#x10D8;, &#x10DB;&#x10D0;&#x10D2;&#x10E0;&#x10D0;&#x10DB; &#x10D9;&#x10DD;&#x10E0;&#x10D4;&#x10E5;&#x10E2;&#x10E3;&#x10DA;&#x10D8;, &#x10D0;&#x10E0; &#x10E3;&#x10DC;&#x10D3;&#x10D0; &#x10D2;&#x10D0;&#x10E3;&#x10EC;&#x10D8;&#x10DD;&#x10E1; &#x10E4;&#x10D8;&#x10D6;&#x10D8;&#x10D9;&#x10E3;&#x10E0;&#x10D8; &#x10EC;&#x10D8;&#x10DC;&#x10D0;&#x10D0;&#x10E6;&#x10DB;&#x10D3;&#x10D4;&#x10D2;&#x10DD;&#x10D1;&#x10D0; &#x10D3;&#x10D0; &#x10DB;&#x10D8;&#x10D0;&#x10E7;&#x10D4;&#x10DC;&#x10DD;&#x10E1; &#x10E8;&#x10D4;&#x10E3;&#x10E0;&#x10D0;&#x10EA;&#x10EE;&#x10E7;&#x10DD;&#x10E4;&#x10D0; &#x10DE;&#x10DD;&#x10DA;&#x10D8;&#x10EA;&#x10D8;&#x10D8;&#x10E1; &#x10D0;&#x10DC; &#x10E1;&#x10D0;&#x10EE;&#x10D4;&#x10DA;&#x10DB;&#x10EC;&#x10D8;&#x10E4;&#x10DD; &#x10E1;&#x10D8;&#x10E1;&#x10E2;&#x10D4;&#x10DB;&#x10D8;&#x10E1; &#x10E1;&#x10EE;&#x10D5;&#x10D0; &#x10EC;&#x10D0;&#x10E0;&#x10DB;&#x10DD;&#x10DB;&#x10D0;&#x10D3;&#x10D2;&#x10D4;&#x10DC;&#x10DA;&#x10D4;&#x10D1;&#x10E1;.
          li
            | &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D4;&#x10D1;&#x10D8; &#x10D8;&#x10D7;&#x10D5;&#x10D0;&#x10DA;&#x10D8;&#x10E1;&#x10EC;&#x10D8;&#x10DC;&#x10D4;&#x10D1;&#x10D4;&#x10DC; &#x10D8;&#x10DB; &#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3; &#x10DB;&#x10E1;&#x10DD;&#x10E4;&#x10DA;&#x10DB;&#x10EE;&#x10D4;&#x10D3;&#x10D5;&#x10D4;&#x10DA;&#x10DD;&#x10D1;&#x10E0;&#x10D8;&#x10D5; &#x10D2;&#x10D0;&#x10DC;&#x10E1;&#x10EE;&#x10D5;&#x10D0;&#x10D5;&#x10D4;&#x10D1;&#x10D4;&#x10D1;&#x10E1;, &#x10E0;&#x10D0;&#x10EA; &#x10DB;&#x10D0;&#x10D7; &#x10E8;&#x10D4;&#x10D8;&#x10EB;&#x10DA;&#x10D4;&#x10D1;&#x10D0; &#x10F0;&#x10E5;&#x10DD;&#x10DC;&#x10D3;&#x10D4;&#x10D7; &#x10D4;&#x10E0;&#x10D7;&#x10DB;&#x10D0;&#x10DC;&#x10D4;&#x10D7;&#x10D7;&#x10D0;&#x10DC;, &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10DB;&#x10D8;&#x10D6;&#x10DC;&#x10D8;&#x10E1; &#x10DB;&#x10D8;&#x10E6;&#x10DB;&#x10D0; &#x10E1;&#x10D0;&#x10D9;&#x10D8;&#x10D7;&#x10EE;&#x10D4;&#x10D1;&#x10D7;&#x10D0;&#x10DC; &#x10D3;&#x10D0;&#x10D9;&#x10D0;&#x10D5;&#x10E8;&#x10D8;&#x10E0;&#x10D4;&#x10D1;&#x10D8;&#x10D7; &#x10D3;&#x10D0; &#x10D7;&#x10D0;&#x10DC;&#x10EE;&#x10DB;&#x10D3;&#x10D4;&#x10D1;&#x10D8;&#x10D0;&#x10DC; &#x10D8;&#x10DB;&#x10D0;&#x10D6;&#x10D4;, &#x10E0;&#x10DD;&#x10DB; &#x10D4;&#x10E1; &#x10D0;&#x10E0; &#x10E8;&#x10D4;&#x10D8;&#x10EB;&#x10DA;&#x10D4;&#x10D1;&#x10D0; &#x10D2;&#x10D0;&#x10EE;&#x10D3;&#x10D4;&#x10E1; &#x10D8;&#x10DB;&#x10D3;&#x10D0;&#x10D2;&#x10D5;&#x10D0;&#x10E0;&#x10D8; &#x10D9;&#x10DD;&#x10DC;&#x10E4;&#x10DA;&#x10D8;&#x10E5;&#x10E2;&#x10D8;&#x10E1; &#x10DB;&#x10D8;&#x10D6;&#x10D4;&#x10D6;&#x10D8;, &#x10E0;&#x10D0;&#x10DB;&#x10D0;&#x10EA; &#x10E8;&#x10D4;&#x10D8;&#x10EB;&#x10DA;&#x10D4;&#x10D1;&#x10D0; &#x10EE;&#x10D4;&#x10DA;&#x10D8; &#x10E8;&#x10D4;&#x10E3;&#x10E8;&#x10D0;&#x10DA;&#x10DD;&#x10E1; &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10DB;&#x10D8;&#x10D6;&#x10DC;&#x10D4;&#x10D1;&#x10E1;.
          li
            | &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10E7;&#x10D5;&#x10D4;&#x10DA;&#x10D0; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D8; &#x10D8;&#x10EE;&#x10D3;&#x10D8;&#x10E1; &#x10E7;&#x10DD;&#x10D5;&#x10D4;&#x10DA;&#x10D7;&#x10D5;&#x10D8;&#x10E3;&#x10DA; &#x10DB;&#x10D8;&#x10DC;&#x10D8;&#x10DB;&#x10D0;&#x10DA;&#x10E3;&#x10E0; &#x10E1;&#x10D0;&#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10DD;&#x10E1;, &#x10D0;&#x10E0;&#x10D0;&#x10DC;&#x10D0;&#x10D9;&#x10DA;&#x10D4;&#x10D1; &#x10D4;&#x10E0;&#x10D7;&#x10D8; &#x10DA;&#x10D0;&#x10E0;&#x10D8;&#x10E1;&#x10D0;. &#x10E1;&#x10D0;&#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10DD;&#x10E1; &#x10D2;&#x10D0;&#x10D3;&#x10D0;&#x10E3;&#x10EE;&#x10D3;&#x10D4;&#x10DA;&#x10DD;&#x10D1;&#x10D8;&#x10E1; &#x10E8;&#x10D4;&#x10DB;&#x10D7;&#x10EE;&#x10D5;&#x10D4;&#x10D5;&#x10D0;&#x10E8;&#x10D8; &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D8;&#x10E1; &#x10E1;&#x10E2;&#x10D0;&#x10E2;&#x10E3;&#x10E1;&#x10D8; &#x10E9;&#x10D4;&#x10E0;&#x10D3;&#x10D4;&#x10D1;&#x10D0;, &#x10EE;&#x10DD;&#x10DA;&#x10DD; &#x10D0;&#x10D3;&#x10D4;&#x10D9;&#x10D5;&#x10D0;&#x10E2;&#x10E3;&#x10E0; &#x10D5;&#x10D0;&#x10D3;&#x10D0;&#x10E8;&#x10D8; &#x10D2;&#x10D0;&#x10D3;&#x10D0;&#x10E3;&#x10EE;&#x10D3;&#x10D4;&#x10DA;&#x10DD;&#x10D1;&#x10D8;&#x10E1; &#x10E8;&#x10D4;&#x10DB;&#x10D7;&#x10EE;&#x10D5;&#x10D4;&#x10D5;&#x10D0;&#x10E8;&#x10D8; &#x10E8;&#x10D4;&#x10EC;&#x10E7;&#x10D3;&#x10D4;&#x10D1;&#x10D0;.
          li
            | &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D7;&#x10D0; &#x10D5;&#x10D8;&#x10DC;&#x10D0;&#x10DD;&#x10D1;&#x10D0; &#x10D3;&#x10D0; &#x10DB;&#x10D0;&#x10D7;&#x10D8; &#x10EC;&#x10D5;&#x10DA;&#x10D8;&#x10DA;&#x10D8; &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D0;&#x10E8;&#x10D8; &#x10EC;&#x10D0;&#x10E0;&#x10DB;&#x10DD;&#x10D0;&#x10D3;&#x10D2;&#x10D4;&#x10DC;&#x10E1; &#x10E1;&#x10D0;&#x10EF;&#x10D0;&#x10E0;&#x10DD; &#x10D8;&#x10DC;&#x10E4;&#x10DD;&#x10E0;&#x10DB;&#x10D0;&#x10EA;&#x10D8;&#x10D0;&#x10E1;.
          li
            | &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D4;&#x10D1;&#x10E1; &#x10D3;&#x10D0; &#x10DE;&#x10D0;&#x10E0;&#x10E2;&#x10DC;&#x10D8;&#x10DD;&#x10E0;&#x10D4;&#x10D1;&#x10E1; &#x10D2;&#x10D0;&#x10D3;&#x10D0;&#x10D4;&#x10EA;&#x10D4;&#x10DB;&#x10D0;&#x10D7; &#x10D9;&#x10D0;&#x10DC;&#x10D0;&#x10E4;&#x10D8;&#x10E1; &#x10DB;&#x10DD;&#x10E7;&#x10D5;&#x10D0;&#x10E0;&#x10E3;&#x10DA;&#x10D8;&#x10E1; &#x10D1;&#x10D0;&#x10E0;&#x10D0;&#x10D7;&#x10D8; &#x10D3;&#x10D0; &#x10E1;&#x10D4;&#x10E0;&#x10D7;&#x10D8;&#x10E4;&#x10D8;&#x10D9;&#x10D0;&#x10E2;&#x10D8;.
      section
        h2 &#x10DB;&#x10D0;&#x10E0;&#x10D7;&#x10D5;&#x10D0;
        ul
          li
            | &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10DB;&#x10DB;&#x10D0;&#x10E0;&#x10D7;&#x10D5;&#x10D4;&#x10DA;&#x10D8; &#x10DD;&#x10E0;&#x10D2;&#x10D0;&#x10DC;&#x10DD;&#x10D0; &#x10D9;&#x10D0;&#x10DC;&#x10D0;&#x10E4;&#x10D8;&#x10E1; &#x10DB;&#x10DD;&#x10E7;&#x10D5;&#x10D0;&#x10E0;&#x10E3;&#x10DA;&#x10D7;&#x10D0; &#x10E1;&#x10D0;&#x10D1;&#x10ED;&#x10DD;, &#x10E0;&#x10DD;&#x10DB;&#x10D4;&#x10DA;&#x10D8;&#x10EA; &#x10D0;&#x10D8;&#x10E0;&#x10E9;&#x10D4;&#x10D5;&#x10D0; &#x10D4;&#x10E0;&#x10D7;&#x10D8; &#x10EC;&#x10DA;&#x10D8;&#x10E1; &#x10D5;&#x10D0;&#x10D3;&#x10D8;&#x10D7; &#x10D3;&#x10D0; &#x10E0;&#x10DD;&#x10DB;&#x10DA;&#x10D8;&#x10E1;  &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D4;&#x10D1;&#x10D8;&#x10EA; &#x10D0;&#x10E0;&#x10D8;&#x10D0;&#x10DC;:
            ul.type-geo
              li &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D8; &#x10E1;&#x10D0;&#x10E5;&#x10D0;&#x10E0;&#x10D7;&#x10D5;&#x10D4;&#x10DA;&#x10DD;&#x10E1; &#x10DE;&#x10D0;&#x10E0;&#x10DA;&#x10D0;&#x10DB;&#x10D4;&#x10DC;&#x10E2;&#x10D8;&#x10E1; &#x10D3;&#x10D4;&#x10DE;&#x10E3;&#x10E2;&#x10D0;&#x10E2;&#x10D4;&#x10D1;&#x10D8;.
              li
                | &#x10DD;&#x10E5;&#x10E0;&#x10DD;&#x10E1; &#x10D8;&#x10DC;&#x10D5;&#x10D4;&#x10E1;&#x10E2;&#x10DD;&#x10E0;&#x10D4;&#x10D1;&#x10D8; - &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10D8;&#x10E1; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D4;&#x10D1;&#x10D8;, &#x10E0;&#x10DD;&#x10DB;&#x10DA;&#x10D4;&#x10D1;&#x10DB;&#x10D0;&#x10EA; &#x10D2;&#x10D0;&#x10DC;&#x10D0;&#x10EE;&#x10DD;&#x10E0;&#x10EA;&#x10D8;&#x10D4;&#x10DA;&#x10D4;&#x10E1;, &#x10D0;&#x10E0;&#x10D0;&#x10DC;&#x10D0;&#x10D9;&#x10DA;&#x10D4;&#x10D1; 10 &#x10D0;&#x10D7;&#x10D0;&#x10E1;&#x10D8; &#x10DA;&#x10D0;&#x10E0;&#x10D8;&#x10E1; &#x10D8;&#x10DC;&#x10D5;&#x10D4;&#x10E1;&#x10E2;&#x10D8;&#x10EA;&#x10D8;&#x10D0;
              li &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10D1;&#x10DD;&#x10DA;&#x10DD; &#x10EC;&#x10DA;&#x10D8;&#x10E1; &#x10E7;&#x10D5;&#x10D4;&#x10DA;&#x10D0;&#x10D6;&#x10D4; &#x10DB;&#x10E1;&#x10EE;&#x10D5;&#x10D8;&#x10DA;&#x10D8; &#x10E8;&#x10D4;&#x10DB;&#x10DD;&#x10DB;&#x10EC;&#x10D8;&#x10E0;&#x10D5;&#x10D4;&#x10DA;&#x10D8;.
              li &#x10D7;&#x10D5;&#x10D4;&#x10E8;&#x10D8; &#x10D0;&#x10E0;&#x10D0;&#x10DC;&#x10D0;&#x10D9;&#x10DA;&#x10D4;&#x10D1; &#x10D0;&#x10D7;&#x10D0;&#x10E1;&#x10D8; &#x10DA;&#x10D0;&#x10E0;&#x10D8;&#x10E1; &#x10E8;&#x10D4;&#x10DB;&#x10DD;&#x10DB;&#x10EC;&#x10D8;&#x10E0;&#x10D5;&#x10D4;&#x10DA;&#x10D8;.
              li &#x10E1;&#x10D0;&#x10DB; &#x10D0;&#x10D3;&#x10D0;&#x10DB;&#x10D8;&#x10D0;&#x10DC;&#x10E1; &#x10D8;&#x10E0;&#x10E9;&#x10D4;&#x10D5;&#x10D4;&#x10DC; &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D4;&#x10D1;&#x10D8;.
          li &#x10E1;&#x10D0;&#x10D1;&#x10ED;&#x10DD; &#x10D2;&#x10D0;&#x10D3;&#x10D0;&#x10EC;&#x10E7;&#x10D5;&#x10D4;&#x10E2;&#x10D8;&#x10DA;&#x10D4;&#x10D1;&#x10D0;&#x10E1; &#x10D8;&#x10E6;&#x10D4;&#x10D1;&#x10E1; &#x10E3;&#x10DB;&#x10E0;&#x10D0;&#x10D5;&#x10DA;&#x10D4;&#x10E1;&#x10DD;&#x10D1;&#x10D8;&#x10D7;.
          li
            | &#x10E1;&#x10D0;&#x10D1;&#x10ED;&#x10DD; &#x10D7;&#x10D0;&#x10D5;&#x10D8;&#x10E1;&#x10D8; &#x10E3;&#x10E4;&#x10DA;&#x10D4;&#x10D1;&#x10D0;&#x10DB;&#x10DD;&#x10E1;&#x10D8;&#x10DA;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10D5;&#x10D0;&#x10D3;&#x10D8;&#x10D7;, &#x10DC;&#x10D8;&#x10E8;&#x10DC;&#x10D0;&#x10D5;&#x10E1; &#x10DE;&#x10E0;&#x10DD;&#x10D4;&#x10E5;&#x10E2;&#x10D4;&#x10D1;&#x10D6;&#x10D4; &#x10DE;&#x10D0;&#x10E1;&#x10E3;&#x10EE;&#x10D8;&#x10E1;&#x10DB;&#x10D2;&#x10D4;&#x10D1;&#x10D4;&#x10DA; &#x10DE;&#x10D8;&#x10E0;&#x10E1;/&#x10DE;&#x10D8;&#x10E0;&#x10D4;&#x10D1;&#x10E1;, &#x10E0;&#x10DD;&#x10DB;&#x10D4;&#x10DA;&#x10D8;&#x10EA; &#x10DE;&#x10D0;&#x10E1;&#x10E3;&#x10EE;&#x10D8;&#x10E1;&#x10DB;&#x10D2;&#x10D4;&#x10D1;&#x10D4;&#x10DA;&#x10D8;&#x10D0; &#x10E1;&#x10D0;&#x10D1;&#x10ED;&#x10DD;&#x10E1; &#x10D3;&#x10D0; &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10EC;&#x10D8;&#x10DC;&#x10D0;&#x10E8;&#x10D4;.
          li
            | &#x10D9;&#x10D0;&#x10DC;&#x10D0;&#x10E4;&#x10D8;&#x10E1; &#x10DB;&#x10DD;&#x10E7;&#x10D5;&#x10D0;&#x10E0;&#x10E3;&#x10DA;&#x10D7;&#x10D0; &#x10E1;&#x10D0;&#x10D1;&#x10ED;&#x10DD;&#x10E1; &#x10D5;&#x10D0;&#x10D3;&#x10D0;, &#x10E8;&#x10D4;&#x10D8;&#x10EB;&#x10DA;&#x10D4;&#x10D1;&#x10D0; &#x10D2;&#x10D0;&#x10D2;&#x10E0;&#x10EB;&#x10D4;&#x10DA;&#x10D3;&#x10D4;&#x10E1; &#x10DB;&#x10D0;&#x10E5;&#x10E1;&#x10D8;&#x10DB;&#x10E3;&#x10DB; &#x10D4;&#x10E0;&#x10D7;&#x10D8; &#x10EC;&#x10DA;&#x10D8;&#x10E1; &#x10D5;&#x10D0;&#x10D3;&#x10D8;&#x10D7;, &#x10D7;&#x10E3; &#x10E1;&#x10D0;&#x10D1;&#x10ED;&#x10DD;  &#x10DB;&#x10D8;&#x10D8;&#x10E6;&#x10D4;&#x10D1;&#x10E1; &#x10D0;&#x10E1;&#x10D4;&#x10D7; &#x10D2;&#x10D0;&#x10D3;&#x10D0;&#x10EC;&#x10E7;&#x10D5;&#x10D4;&#x10E2;&#x10D8;&#x10DA;&#x10D4;&#x10D1;&#x10D0;&#x10E1;.
      section
        h2 &#x10E8;&#x10D4;&#x10DB;&#x10DD;&#x10E1;&#x10D0;&#x10D5;&#x10DA;&#x10D4;&#x10D1;&#x10D8; &#x10D3;&#x10D0; &#x10EE;&#x10D0;&#x10E0;&#x10EF;&#x10D4;&#x10D1;&#x10D8;.
        p
          | &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10E4;&#x10D8;&#x10DC;&#x10D0;&#x10DC;&#x10E1;&#x10D4;&#x10D1;&#x10D8; &#x10E3;&#x10D6;&#x10E0;&#x10E3;&#x10DC;&#x10D5;&#x10D4;&#x10DA;&#x10E7;&#x10DD;&#x10E4;&#x10D8;&#x10DA;&#x10D8;&#x10D0; &#x10E1;&#x10D0;&#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1;&#x10D2;&#x10D0;&#x10DC;, &#x10E8;&#x10D4;&#x10DB;&#x10DD;&#x10EC;&#x10D8;&#x10E0;&#x10E3;&#x10DA;&#x10DD;&#x10D1;&#x10D4;&#x10D1;&#x10D8;&#x10E1;&#x10D2;&#x10D0;&#x10DC;, &#x10D8;&#x10DC;&#x10D5;&#x10D4;&#x10E1;&#x10E2;&#x10D8;&#x10EA;&#x10D8;&#x10D4;&#x10D1;&#x10D8;&#x10E1;&#x10D2;&#x10D0;&#x10DC; &#x10D3;&#x10D0; &#x10DE;&#x10D0;&#x10E2;&#x10D8;&#x10DD;&#x10E1;&#x10D0;&#x10DC;&#x10D8; &#x10D2;&#x10D6;&#x10D8;&#x10D7; &#x10DC;&#x10D0;&#x10E8;&#x10DD;&#x10D5;&#x10DC;&#x10D8; &#x10E1;&#x10EE;&#x10D5;&#x10D0; &#x10E8;&#x10D4;&#x10DB;&#x10DD;&#x10E1;&#x10D0;&#x10D5;&#x10DA;&#x10D4;&#x10D1;&#x10D8;&#x10E1;&#x10D2;&#x10D0;&#x10DC;.
        p
          | &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10E8;&#x10D4;&#x10DB;&#x10DD;&#x10E1;&#x10D0;&#x10D5;&#x10DA;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10DC;&#x10D0;&#x10EE;&#x10D4;&#x10D5;&#x10D0;&#x10E0;&#x10D8; &#x10D2;&#x10D0;&#x10DC;&#x10D9;&#x10E3;&#x10D7;&#x10D5;&#x10DC;&#x10D8;&#x10DA;&#x10D8;&#x10D0; &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10DA;&#x10DD;&#x10D1;&#x10D8;&#x10E1;&#x10E2;&#x10D8; &#x10E1;&#x10D0;&#x10E5;&#x10D0;&#x10E0;&#x10D7;&#x10D5;&#x10D4;&#x10DA;&#x10DD;&#x10E1; &#x10DE;&#x10D0;&#x10E0;&#x10DA;&#x10D0;&#x10DB;&#x10D4;&#x10DC;&#x10E2;&#x10D8;&#x10E1; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D4;&#x10D1;&#x10D8;&#x10E1;&#x10D7;&#x10D5;&#x10D8;&#x10E1;, &#x10EE;&#x10DD;&#x10DA;&#x10DD; &#x10D3;&#x10D0;&#x10E0;&#x10E9;&#x10D4;&#x10DC;&#x10D8;&#x10DA;&#x10D8;&#x10E1; &#x10D2;&#x10D0;&#x10DC;&#x10D9;&#x10D0;&#x10E0;&#x10D2;&#x10D5;&#x10D0; &#x10EE;&#x10D3;&#x10D4;&#x10D1;&#x10D0; &#x10DE;&#x10E0;&#x10DD;&#x10D4;&#x10E5;&#x10E2;&#x10D6;&#x10D4; &#x10DE;&#x10D0;&#x10E1;&#x10E3;&#x10EE;&#x10D8;&#x10E1;&#x10DB;&#x10D2;&#x10D4;&#x10D1;&#x10D4;&#x10DA; &#x10DE;&#x10D8;&#x10E0;&#x10D7;&#x10D0; &#x10DB;&#x10D8;&#x10D4;&#x10E0;.
        p &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10E8;&#x10D4;&#x10DB;&#x10DD;&#x10E1;&#x10D0;&#x10D5;&#x10DA;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10D3;&#x10D0; &#x10DB;&#x10D0;&#x10D7;&#x10D8; &#x10EE;&#x10D0;&#x10E0;&#x10EF;&#x10D5;&#x10D8;&#x10E1; &#x10E8;&#x10D4;&#x10E1;&#x10D0;&#x10EE;&#x10D4;&#x10D1; &#x10D8;&#x10DC;&#x10E4;&#x10DD;&#x10E0;&#x10DB;&#x10D0;&#x10EA;&#x10D8;&#x10D0; &#x10E1;&#x10D0;&#x10EF;&#x10D0;&#x10E0;&#x10DD;&#x10D0;.
      section
        h2 &#x10D9;&#x10DD;&#x10DC;&#x10E4;&#x10DA;&#x10D8;&#x10E5;&#x10E2;&#x10D4;&#x10D1;&#x10D8;
        p &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D4;&#x10D1;&#x10E1; &#x10E8;&#x10DD;&#x10E0;&#x10D8;&#x10E1; &#x10D9;&#x10DD;&#x10DC;&#x10E4;&#x10DA;&#x10D8;&#x10E5;&#x10E2;&#x10D4;&#x10D1;&#x10D8; &#x10EC;&#x10E7;&#x10D3;&#x10D4;&#x10D1;&#x10D0; &#x10E1;&#x10D0;&#x10E3;&#x10D1;&#x10E0;&#x10D8;&#x10D7;.
        p
          | &#x10D7;&#x10E3; &#x10D9;&#x10DD;&#x10DC;&#x10E4;&#x10DA;&#x10D8;&#x10E5;&#x10E2;&#x10D8;&#x10E1; &#x10D2;&#x10D0;&#x10D3;&#x10D0;&#x10EC;&#x10E7;&#x10D5;&#x10D4;&#x10E2;&#x10D0; &#x10E1;&#x10D0;&#x10E3;&#x10D1;&#x10E0;&#x10D8;&#x10D7; &#x10D5;&#x10D4;&#x10E0; &#x10EE;&#x10D4;&#x10E0;&#x10EE;&#x10D3;&#x10D4;&#x10D1;&#x10D0;, &#x10D9;&#x10DD;&#x10DC;&#x10E4;&#x10DA;&#x10D8;&#x10E5;&#x10E2;&#x10E1;  &#x10D9;&#x10DD;&#x10DC;&#x10E1;&#x10E2;&#x10D8;&#x10E2;&#x10E3;&#x10EA;&#x10D8;&#x10D8;&#x10D7; &#x10D2;&#x10D0;&#x10DC;&#x10E1;&#x10D0;&#x10D6;&#x10E6;&#x10D5;&#x10E0;&#x10E3;&#x10DA;&#x10D8; &#x10EC;&#x10D4;&#x10E1;&#x10D8;&#x10D7;, &#x10D2;&#x10D0;&#x10DC;&#x10D8;&#x10EE;&#x10D8;&#x10DA;&#x10D0;&#x10D5;&#x10E1; &#x10D2;&#x10D8;&#x10E0;&#x10E9;&#x10D8;&#x10E1; &#x10E1;&#x10D0;&#x10D0;&#x10E0;&#x10D1;&#x10D8;&#x10E2;&#x10E0;&#x10D0;&#x10DF;&#x10DD; &#x10E1;&#x10D0;&#x10E1;&#x10D0;&#x10DB;&#x10D0;&#x10E0;&#x10D7;&#x10DA;&#x10DD;, &#x10E0;&#x10DD;&#x10DB;&#x10DA;&#x10D8;&#x10E1; &#x10D2;&#x10D0;&#x10D3;&#x10D0;&#x10EC;&#x10E7;&#x10D5;&#x10D4;&#x10E2;&#x10D8;&#x10DA;&#x10D4;&#x10D1;&#x10D0;&#x10E1;&#x10D0;&#x10EA; &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D4;&#x10D1;&#x10D8;&#x10E1;&#x10D7;&#x10D5;&#x10D8;&#x10E1; &#x10D0;&#x10E5;&#x10D5;&#x10E1; &#x10E1;&#x10D0;&#x10D5;&#x10D0;&#x10DA;&#x10D3;&#x10D4;&#x10D1;&#x10E3;&#x10DA;&#x10DD; &#x10EB;&#x10D0;&#x10DA;&#x10D0;.
      section
        h2 &#x10D3;&#x10D0;&#x10E4;&#x10E3;&#x10EB;&#x10DC;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10D3;&#x10E0;&#x10DD; &#x10D3;&#x10D0; &#x10D3;&#x10D0;&#x10DB;&#x10E4;&#x10E3;&#x10EB;&#x10DC;&#x10D4;&#x10D1;&#x10DA;&#x10D4;&#x10D1;&#x10D8;
        p &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D0; &#x10E8;&#x10D4;&#x10D3;&#x10D2;&#x10D4;&#x10D1;&#x10D0; &#x10D3;&#x10D0;&#x10DB;&#x10E4;&#x10E3;&#x10EB;&#x10DC;&#x10D4;&#x10D1;&#x10D4;&#x10DA;&#x10D8; &#x10D3;&#x10D0; &#x10E8;&#x10D4;&#x10DB;&#x10DD;&#x10D4;&#x10E0;&#x10D7;&#x10D4;&#x10D1;&#x10E3;&#x10DA;&#x10D8; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D4;&#x10D1;&#x10D8;&#x10E1;&#x10D0;&#x10D2;&#x10D0;&#x10DC;.
        p
          | &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D0; &#x10D3;&#x10D0;&#x10E4;&#x10E3;&#x10EB;&#x10DC;&#x10D4;&#x10D1;&#x10E3;&#x10DA;&#x10D0;&#x10D3; &#x10E9;&#x10D0;&#x10D8;&#x10D7;&#x10D5;&#x10DA;&#x10D4;&#x10D1;&#x10D0; 2021 &#x10EC;&#x10DA;&#x10D8;&#x10E1; 30 &#x10D8;&#x10D5;&#x10DA;&#x10D8;&#x10E1;&#x10D8;&#x10E1; 4:20 - &#x10D3;&#x10D0;&#x10DC;. &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10D3;&#x10D0;&#x10DB;&#x10E4;&#x10E3;&#x10EB;&#x10DC;&#x10D4;&#x10D1;&#x10D4;&#x10DA;&#x10D8; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D4;&#x10D1;&#x10D8; &#x10D0;&#x10E0;&#x10D8;&#x10D0;&#x10DC; &#x10D0;&#x10D3;&#x10D0;&#x10DB;&#x10D8;&#x10D0;&#x10DC;&#x10D4;&#x10D1;&#x10D8; &#x10D3;&#x10D0; &#x10D9;&#x10DD;&#x10DB;&#x10DE;&#x10D0;&#x10DC;&#x10D8;&#x10D4;&#x10D1;&#x10D8;, &#x10E0;&#x10DD;&#x10DB;&#x10DA;&#x10D4;&#x10D1;&#x10D8;&#x10EA; &#x10D0;&#x10DB; &#x10D3;&#x10E0;&#x10DD;&#x10DB;&#x10D3;&#x10D4;  &#x10D2;&#x10D0;&#x10DB;&#x10DD;&#x10D7;&#x10E5;&#x10D5;&#x10D0;&#x10DB;&#x10D4;&#x10DC; &#x10D0;&#x10DB;&#x10D8;&#x10E1; &#x10E1;&#x10E3;&#x10E0;&#x10D5;&#x10D8;&#x10DA;&#x10E1; &#x10D3;&#x10D0; &#x10D2;&#x10D0;&#x10D3;&#x10D0;&#x10D8;&#x10EE;&#x10D3;&#x10D8;&#x10D0;&#x10DC; &#x10E1;&#x10D0;&#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10DD;&#x10E1;.
// ======= Footer =======
footer#footer
  .footer-top
    .container
      .row
        .col-lg-3.col-md-6.footer-contact
          h3 Legalize.ge
          p
            | &#x10D7;&#x10D1;&#x10D8;&#x10DA;&#x10D8;&#x10E1;&#x10D8;
            br
            |               &#x10D7;&#x10D0;&#x10D5;&#x10D8;&#x10E1;&#x10E3;&#x10E4;&#x10DA;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10DB;&#x10DD;&#x10D4;&#x10D3;&#x10D0;&#x10DC;&#x10D8;
            br
            |               9 &#x10D0;&#x10DE;&#x10E0;&#x10D8;&#x10DA;&#x10D8;&#x10E1; &#x10E5;&#x10E3;&#x10E9;&#x10D0; #3/5
            br
            br
            strong &#x10D4;&#x10DB;&#x10D0;&#x10D8;&#x10DA;&#x10D8;
            |  info@legalize.ge
            br
        .col-lg-2.col-md-6.footer-links
          h4 &#x10DC;&#x10D0;&#x10D5;&#x10D8;&#x10D2;&#x10D0;&#x10EA;&#x10D8;&#x10D0;
          ul
            li
              i.bx.bx-chevron-right
              a(href='/') &#x10DB;&#x10D7;&#x10D0;&#x10D5;&#x10D0;&#x10E0;&#x10D8;
            li
              i.bx.bx-chevron-right
              a(href='/') &#x10E9;&#x10D5;&#x10D4;&#x10DC;&#x10E1; &#x10E8;&#x10D4;&#x10E1;&#x10D0;&#x10EE;&#x10D4;&#x10D1;
            li
              i.bx.bx-chevron-right
              a(href='/') &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D4;&#x10D1;&#x10D8;
            li
              i.bx.bx-chevron-right
              a(href='/') &#x10DE;&#x10E0;&#x10D8;&#x10DC;&#x10EA;&#x10D8;&#x10DE;&#x10D4;&#x10D1;&#x10D8;
            li
              i.bx.bx-chevron-right
              a(href='/') &#x10DE;&#x10E0;&#x10DD;&#x10D3;&#x10E3;&#x10E5;&#x10E2;&#x10D4;&#x10D1;&#x10D8;
            li
              i.bx.bx-chevron-right
              a(href='/') &#x10D2;&#x10E3;&#x10DC;&#x10D3;&#x10D8;
            li
              i.bx.bx-chevron-right
              a(href='/') &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10DD;&#x10D1;&#x10D0;
        .col-lg-3.col-md-6.footer-links
          h4 &#x10DE;&#x10E0;&#x10D8;&#x10DC;&#x10EA;&#x10D8;&#x10DE;&#x10D4;&#x10D1;&#x10D8;
          ul
            li
              i.bx.bx-chevron-right
              |  &#x10DB;&#x10D0;&#x10E0;&#x10D7;&#x10D5;&#x10D0;
            li
              i.bx.bx-chevron-right
              |  &#x10E8;&#x10D4;&#x10DB;&#x10DD;&#x10E1;&#x10D0;&#x10D5;&#x10DA;&#x10D4;&#x10D1;&#x10D8;
            li
              i.bx.bx-chevron-right
              |  &#x10EE;&#x10D0;&#x10E0;&#x10EF;&#x10D4;&#x10D1;&#x10D8;
            li
              i.bx.bx-chevron-right
              |  &#x10E1;&#x10D0;&#x10EF;&#x10D0;&#x10E0;&#x10DD;&#x10DD;&#x10D1;&#x10D0;
            li
              i.bx.bx-chevron-right
              |  &#x10D9;&#x10DD;&#x10DC;&#x10E4;&#x10DA;&#x10D8;&#x10E5;&#x10E2;&#x10D4;&#x10D1;&#x10D8;
            li
              i.bx.bx-chevron-right
              |  &#x10D3;&#x10D0;&#x10E4;&#x10E3;&#x10EB;&#x10DC;&#x10D4;&#x10D1;&#x10D0;
  .container.d-md-flex.py-4
    .me-md-auto.text-center.text-md-start
      .copyright
        | &copy; &#x10E7;&#x10D5;&#x10D4;&#x10DA;&#x10D0; &#x10E3;&#x10E4;&#x10DA;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10D7;&#x10D0;&#x10D5;&#x10D6;&#x10D4;&#x10EA; &#x10D2;&#x10D0;&#x10D5;&#x10D8;&#x10D0;&#x10E0;&#x10D4;&#x10D7;.
        strong
          span  &#x10D2;&#x10D8;&#x10E0;&#x10E9;&#x10D8;
      .credits
        // გვკიდია ლიცენზია. პატივისცემით ლაშა, ნიკა, გიორგი
    .social-links.text-center.text-md-right.pt-3.pt-md-0
      a.twitter(href='https://twitter.com/girchiparty' target='_blank')
        i.bx.bxl-twitter
      a.facebook(href='https://www.facebook.com/GirchiParty/' target='_blank')
        i.bx.bxl-facebook
      a.instagram(href='https://www.instagram.com/girchiparty/' target='_blank')
        i.bx.bxl-instagram
      a.linkedin(href='https://ge.linkedin.com/company/%E1%83%92%E1%83%98%E1%83%A0%E1%83%A9%E1%83%98-girchi' target='_blank')
        i.bx.bxl-linkedin
// End Footer
#preloader
a.back-to-top.d-flex.align-items-center.justify-content-center(href='#')
  i.bi.bi-arrow-up-short
// Vendor JS Files
script(src='assets/vendor/aos/aos.js')
script(src='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='assets/vendor/glightbox/js/glightbox.min.js')
script(src='assets/vendor/isotope-layout/isotope.pkgd.min.js')
script(src='assets/vendor/php-email-form/validate.js')
script(src='assets/vendor/purecounter/purecounter.js')
script(src='assets/vendor/swiper/swiper-bundle.min.js')
// Template Main JS File
script(src='assets/js/main.js')
