doctype html
head
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  title დიდი ამნისტია
  meta(content='' name='description')
  meta(content='' name='keywords')
  // Favicons
  link(href='assets/img/amnistia.png' rel='icon')
  link(href='assets/img/apple-touch-icon.png' rel='apple-touch-icon')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' rel='stylesheet')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.1/css/all.css' integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf' crossorigin='anonymous')
  // Vendor CSS Files
  link(href='assets/vendor/aos/aos.css' rel='stylesheet')
  link(href='assets/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  link(href='assets/vendor/bootstrap-icons/bootstrap-icons.css' rel='stylesheet')
  link(href='assets/vendor/boxicons/css/boxicons.min.css' rel='stylesheet')
  link(href='assets/vendor/glightbox/css/glightbox.min.css' rel='stylesheet')
  link(href='assets/vendor/remixicon/remixicon.css' rel='stylesheet')
  link(href='assets/vendor/swiper/swiper-bundle.min.css' rel='stylesheet')
  // Template Main CSS File
  link(href='assets/css/style.css' rel='stylesheet')

  // ======= Header =======
  include parts/header.pug
  // End Header

main#main
  section#constitution.constitution.section-bg
    .container
      h1 არაფორმალური ორგანიზაცია „დიდი ამნისტიის მხარდამჭერთა საზოგადოების“ კონსტიტუცია
      p ჩვენ ვთვლით, რომ საქართველოში საბჭოთა კავშირის დაშლის შემდგომ არ მომხდარა სისხლის სამართლის პოლიტიკის არსებითი გადააზრება, არ გვიფიქრია იმაზე თუ როგორი უნდა იყოს დამოუკიდებელი საქართველოს სისხლის სამართლის პოლიტიკა, როგორი ქმედება უნდა ისჯებოდეს პატიმრობით, არ გვიფიქრია არც სასჯელთა რეალურ მიზნებზე და ოდენობაზე.
      | ამის და სხვა ბევრ მიზეზთა გამო, ქვეყანაში უამრავი პატიმარია, რომელიც დღეს  ციხეში არ უნდა იჯდეს ან ახალი ცხოვრებისთვის ერთ შანსს მაინც იმსახურებს.
      section
        h2 მიზნები
        p ამნისტია არის ჰუმანური აქტი, რომელიც გულისხმობს პატიებას და  მიზნად ისახავს დანაშაულის ჩამდენთა ხვედრის შემსუბუქებას.
        p 2021 წელს, მთლიან მოსახლეობასთან შეფარდებით, პატიმართა რაოდენობით საქართველო მესამე ადგილზეა ევროპაში, რუსეთისა და თურქეთის შემდეგ, რაც გამოწვეულია უსამართლო და მეტისმეტად მკაცრი სისხლის სამართლის პოლიტიკით.
        br
        p ჩვენ გვინდა:
        ul
          li კანაფთან და მის პროდუქტებთან დაკავშირებული დანაშაულები - სრული ამნისტია.
          li დანაშაულები, რომელთაც არ ჰყავთ დაზარალებული ან დაზარალებულმა აპატია დამნაშავეს - ამნისტია სასჯელის 50% -ის შემცირებით. 
          li ნებისმიერი სხვა დანაშაული - ამნისტია სასჯელის 20% - ის შემცირებით
          li უვადო პატიმრობა მისჯილებს - 30 წელი, მოხდილი წლების ჩათვლით.
          li ჩამორთმეული  უფლებების აღდგენა, რათა ადამიანმა შეძლოს რესოციალიზაცია და სათანადო სამუშაოს პოვნა.


      section
        h2 პრინციპები
        p ჩვენ გვჯერა:
        p სასჯელის მიზანი უნდა იყოს არა ადამიანის დასჯა და მისი მძიმე, უიმედო მდგომარეობაში ჩაგდება, არამედ სამართლიანობის აღდგენა, ახალი დანაშაულის თავიდან აცილება და დამნაშავის რესოციალიზაცია, ხოლო  სასჯელის სახე და ზომა ამ მიზნების შესაბამისი უნდა იყოს.
        p ადამიანები არ უნდა ისჯებოდნენ ისეთი ქმედების ჩადენისთვის, რომლის შედეგადაც არავინ ზარალდება.
        p ყველას უნდა მიეცეს ახალი ცხოვრების დაწყების შესაძლებლობა, მითუმეტეს მაშინ, როდესაც თავად დაზარალებული პატიობს დამნაშავეს და აძლევს ამის შანსს, ხოლო სასჯელმოხდილ ადამიანს უნდა ჰქონდეს ნორმალური ცხოვრების დაწყების შესაძლებლობა და ნასამართლობისა და ჩამორთმეული უფლებების გამო არ ესპობოდეს განვითარებისა და წარმატების მიღწევის შესაძლებლობა.
        p ჩვენი მიზანია მივაღწიოთ დიდი ამნისტიას, რომელიც ყველას შეუმსუბუქებს მძიმე  ხვედრს და ხელს შეუწყობს ამნისტირებულთა რესოციალიზაციას.


      section
        h2 წევრობაზე
        ul
          li
            | საზოგადოების წევრი შეიძლება იყოს ნებისმიერი ადამიანი, განურჩევლად საცხოვრებელი ადგილისა, პროფესიისა, მოქალაქეობისა, პოლიტიკური, რელიგიური, სექსუალური, ეთნიკური და ა.შ. კუთვნილებისა, რომელიც თვლის, რომ მას ეკუთვნის საკუთარი სხეული, იხდის საწევროს და აღიარებს საზოგადოების კონსტიტუციას.
          li
            | საზოგადოების წევრი შეიძლება იყოს უპარტიო ან რომელიმე პარტიის წევრი ან მხარდამჭერი, მაგრამ მისი საქმიანობა არ უნდა ეწინააღმდეგებოდეს საზოგადოების მიზნებს.
          li
            | საზოგადოების მიზნიდან გამომდინარე, მისი წევრები ცდილობენ დაეხმარონ და დაიცვან ერთმანეთი ძალადობისგან, რომელიც მომდინარეობს სახელმწიფო სისტემის სახელით მოქმედი ადამიანებისგან.
          li
            | კონფლიქტის შემთხვევაში, საზოგადოების სახელით მოლაპარაკე ადამიანი უნდა იყოს პრინციპული, მაგრამ კორექტული, არ უნდა გაუწიოს ფიზიკური წინააღმდეგობა და მიაყენოს შეურაცხყოფა პოლიციის ან სახელმწიფო სისტემის სხვა წარმომადგენლებს.
          li
            | საზოგადოების წევრები ითვალისწინებენ იმ ზოგად მსოფლმხედველობრივ განსხვავებებს, რაც მათ შეიძლება ჰქონდეთ ერთმანეთთან, საზოგადოების მიზნის მიღმა საკითხებთან დაკავშირებით და თანხმდებიან იმაზე, რომ ეს არ შეიძლება გახდეს იმდაგვარი კონფლიქტის მიზეზი, რამაც შეიძლება ხელი შეუშალოს საზოგადოების მიზნებს.
          li
            | საზოგადოების ყველა წევრი იხდის ყოველთვიულ მინიმალურ საწევროს, არანაკლებ ერთი ლარისა. საწევროს გადაუხდელობის შემთხვევაში საზოგადოების წევრის სტატუსი ჩერდება, ხოლო ადეკვატურ ვადაში გადაუხდელობის შემთხვევაში შეწყდება.
          li
            | საზოგადოების წევრთა ვინაობა და მათი წვლილი საზოგადოებაში წარმოადგენს საჯარო ინფორმაციას.
          li
            | საზოგადოების წევრებს და ქომაგებს გადაეცემათ საზოგადოების  ბარათი.
      section
        h2 მართვა
        ul
          li
            | საზოგადოების მმართველი ორგანოა „დიდი ამნისტიის მხარდამჭერთა საბჭო, რომელიც აირჩევა ერთი წლის ვადით და რომლის წევრებიც არიან:
            ul.type-geo
              li საზოგადოების წევრი საქართველოს პარლამენტის დეპუტატები.
              li
                | ოქროს ინვესტორები - საზოგადოების ის წევრები, რომლებმაც განახორციელეს, არანაკლებ 10 ათასი ლარის ინვესტიცია
              li საზოგადოების ბოლო წლის ყველაზე მსხვილი შემომწირველი.
              li თვეში არანაკლებ ათასი ლარის შემომწირველი.
              li სამ ადამიანს ირჩევენ საზოგადოების წევრები.

          li საბჭო გადაწყვეტილებას იღებს უმრავლესობით.
          li
            | საბჭო თავისი უფლებამოსილების ვადით, ნიშნავს პროექტებზე პასუხისმგებელ პირს/პირებს, რომელიც პასუხისმგებელია საბჭოს და საზოგადოების წინაშე.
          li
            | „დიდი ამნისტიის მხარდამჭერთა საბჭოს ვადა, შეიძლება გაგრძელდეს მაქსიმუმ ერთი წლის ვადით, თუ საბჭო მიიღებს ასეთ გადაწყვეტილებას.
      section
        h2 შემოსავლები და ხარჯები.
        p
          | საზოგადოების ფინანსები უზრუნველყოფილია საწევროებისგან, შემოწირულობებისგან, ინვესტიციებისგან და პატიოსანი გზით ნაშოვნი სხვა შემოსავლებისგან.
        p
          | საზოგადოების შემოსავლების ნახევარი განკუთვნილია საზოგადოების ლობისტი საქართველოს პარლამენტის წევრებისთვის, ხოლო დარჩენილის განკარგვა ხდება პროექტზე პასუხისმგებელ პირთა მიერ.
        p საზოგადოების შემოსავლების და მათი ხარჯვის შესახებ ინფორმაცია საჯაროა.
      section
        h2 კონფლიქტები
        p საზოგადოების წევრებს შორის კონფლიქტები წყდება საუბრით.
        p
          | თუ კონფლიქტის გადაწყვეტა საუბრით ვერ ხერხდება, კონფლიქტს კონსტიტუციით განსაზღვრული წესით, განიხილავს გირჩის საარბიტრაჟო სასამართლო, რომლის გადაწყვეტილებასაც საზოგადოების წევრებისთვის აქვს სავალდებულო ძალა.
      section
        h2 დაფუძნების დრო და დამფუძნებლები
        p საზოგადოება შედგება დამფუძნებელი და შემოერთებული წევრებისაგან.
        p
          | საზოგადოება დაფუძნებულად ჩაითვლება 2021 წლის 12 აგვისტოდან. საზოგადოების დამფუძნებელი წევრები არიან ადამიანები და კომპანიები, რომლებიც ამ დრომდე გამოთქვამენ ამის სურვილს და გადაიხდიან საწევროს.
  
  // ======= Footer =======
  include parts/footer.pug
  // End Footer

#preloader
a.back-to-top.d-flex.align-items-center.justify-content-center(href='#')
  i.bi.bi-arrow-up-short
// Vendor JS Files
script(src='assets/vendor/aos/aos.js')
script(src='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='assets/vendor/glightbox/js/glightbox.min.js')
script(src='assets/vendor/isotope-layout/isotope.pkgd.min.js')
script(src='assets/vendor/php-email-form/validate.js')
script(src='assets/vendor/purecounter/purecounter.js')
script(src='assets/vendor/swiper/swiper-bundle.min.js')
// Template Main JS File
script(src='assets/js/main.js')
