doctype html
head
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  title Legalize
  meta(content='' name='description')
  meta(content='' name='keywords')
  // Favicons
  link(href='assets/img/kanafi.png' rel='icon')
  link(href='assets/img/apple-touch-icon.png' rel='apple-touch-icon')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' rel='stylesheet')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.1/css/all.css' integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf' crossorigin='anonymous')
  // Vendor CSS Files
  link(href='assets/vendor/aos/aos.css' rel='stylesheet')
  link(href='assets/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  link(href='assets/vendor/bootstrap-icons/bootstrap-icons.css' rel='stylesheet')
  link(href='assets/vendor/boxicons/css/boxicons.min.css' rel='stylesheet')
  link(href='assets/vendor/glightbox/css/glightbox.min.css' rel='stylesheet')
  link(href='assets/vendor/remixicon/remixicon.css' rel='stylesheet')
  link(href='assets/vendor/swiper/swiper-bundle.min.css' rel='stylesheet')

  // Template Main CSS File
  link(href='assets/css/style.css' rel='stylesheet')
// ======= Header =======
header#header.fixed-top
  .container.d-flex.align-items-center.justify-content-between
    h1.logo
      a(href='/')
        img(src='assets/img/kanafi.png' alt='cannabis')
    nav#navbar.navbar
      ul
        li
          a.nav-link.scrollto.active(href='#hero') &#x10DB;&#x10D7;&#x10D0;&#x10D5;&#x10D0;&#x10E0;&#x10D8;
        li
          a.nav-link.scrollto(href='#about') &#x10E8;&#x10D4;&#x10E1;&#x10D0;&#x10EE;&#x10D4;&#x10D1;
        li
          a.nav-link.scrollto(href='#testimonials') &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D4;&#x10D1;&#x10D8;
        li
          a.nav-link.scrollto(href='#services') &#x10DE;&#x10E0;&#x10D8;&#x10DC;&#x10EA;&#x10D8;&#x10DE;&#x10D4;&#x10D1;&#x10D8;
        li
          a.nav-link.scrollto.o(href='#portfolio') &#x10DE;&#x10E0;&#x10DD;&#x10D3;&#x10E3;&#x10E5;&#x10E2;&#x10D4;&#x10D1;&#x10D8;
        li
          a.nav-link.scrollto(href='#team') &#x10D2;&#x10E3;&#x10DC;&#x10D3;&#x10D8;
        li
          a.nav-link.scrollto(href='#faq') &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10DD;&#x10D1;&#x10D0;
        li
          a.getstarted.scrollto(href='https://www.girchi.com/donate/project/legalize') &#x10E8;&#x10D4;&#x10DB;&#x10DD;&#x10D2;&#x10D5;&#x10D8;&#x10D4;&#x10E0;&#x10D7;&#x10D3;&#x10D8;
      i.bi.bi-list.mobile-nav-toggle
    // .navbar
// End Header
// ======= Hero Section =======
section#hero.d-flex
  .container.position-relative(data-aos='fade-up' data-aos-delay='100')
    .row.justify-content-center
      .col-xl-7.col-lg-9.text-center.hero-info
        h1 &#x10D9;&#x10D0;&#x10DC;&#x10D0;&#x10E4;&#x10D8;&#x10E1; &#x10DB;&#x10DD;&#x10E7;&#x10D5;&#x10D0;&#x10E0;&#x10E3;&#x10DA;&#x10D7;&#x10D0; &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D0;
        img.hero-img(src='assets/img/kanafi.png' alt='cannabis')
        h2 &#x10E0;&#x10D0;&#x10E1;&#x10D0;&#x10EA;&#x10D0; &#x10D3;&#x10D0;&#x10E1;&#x10D7;&#x10D4;&#x10E1; &#x10E8;&#x10D4;&#x10DC;&#x10D8;&#x10D0;
    .text-center
      a.btn-get-started.scrollto(href='https://www.girchi.com/donate/project/legalize') &#x10E8;&#x10D4;&#x10DB;&#x10DD;&#x10D2;&#x10D5;&#x10D8;&#x10D4;&#x10E0;&#x10D7;&#x10D3;&#x10D8;
    .row.icon-boxes
      .col-md-6.col-lg-3.d-flex.align-items-stretch.mb-5.mb-lg-0(data-aos='zoom-in' data-aos-delay='200')
        .icon-box
          // <div class="icon"><i class="ri-stack-line"></i></div>
          h4.title
            a(href='') &#x10D2;&#x10E0;&#x10DD;&#x10E3;&#x10D4;&#x10E0;&#x10D8;
          p.description &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D8;, &#x10E0;&#x10DD;&#x10DB;&#x10D4;&#x10DA;&#x10E1;&#x10D0;&#x10EA; &#x10DB;&#x10DD;&#x10F0;&#x10E7;&#x10D0;&#x10D5;&#x10E1; &#x10D9;&#x10D0;&#x10DC;&#x10D0;&#x10E4;&#x10D8;.
      .col-md-6.col-lg-3.d-flex.align-items-stretch.mb-5.mb-lg-0(data-aos='zoom-in' data-aos-delay='300')
        .icon-box
          // <div class="icon"><i class="ri-palette-line"></i></div>
          h4.title
            a(href='') &#x10DB;&#x10EC;&#x10D4;&#x10D5;&#x10D4;&#x10DA;&#x10D8;
          p.description &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D8;, &#x10E0;&#x10DD;&#x10DB;&#x10D4;&#x10DA;&#x10D8;&#x10EA; &#x10DB;&#x10DD;&#x10D8;&#x10EE;&#x10DB;&#x10D0;&#x10E0;&#x10E1; &#x10D9;&#x10D0;&#x10DC;&#x10D0;&#x10E4;&#x10E1;.
      .col-md-6.col-lg-3.d-flex.align-items-stretch.mb-5.mb-lg-0(data-aos='zoom-in' data-aos-delay='400')
        .icon-box
          // <div class="icon"><i class="ri-command-line"></i></div>
          h4.title
            a(href='') &#x10DB;&#x10D4;&#x10EC;&#x10D0;&#x10E0;&#x10DB;&#x10D4;
          p.description &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D8;, &#x10E0;&#x10DD;&#x10DB;&#x10D4;&#x10DA;&#x10D8;&#x10EA; &#x10D0;&#x10EC;&#x10D0;&#x10E0;&#x10DB;&#x10DD;&#x10D4;&#x10D1;&#x10E1; &#x10D0;&#x10DC; &#x10E7;&#x10D8;&#x10D3;&#x10D8;&#x10E1; &#x10D9;&#x10D0;&#x10DC;&#x10D0;&#x10E4;&#x10D8;&#x10E1; &#x10DE;&#x10E0;&#x10DD;&#x10D3;&#x10E3;&#x10E5;&#x10E2;&#x10D4;&#x10D1;&#x10E1;.
      .col-md-6.col-lg-3.d-flex.align-items-stretch.mb-5.mb-lg-0(data-aos='zoom-in' data-aos-delay='500')
        .icon-box
          // <div class="icon"><i class="ri-fingerprint-line"></i></div>
          h4.title
            a(href='') &#x10E5;&#x10DD;&#x10DB;&#x10D0;&#x10D2;&#x10D8;
          p.description &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D8;, &#x10E0;&#x10DD;&#x10DB;&#x10D4;&#x10DA;&#x10D8;&#x10EA; &#x10DB;&#x10EE;&#x10D0;&#x10E0;&#x10E1; &#x10E3;&#x10ED;&#x10D4;&#x10E0;&#x10E1; &#x10D9;&#x10D0;&#x10DC;&#x10D0;&#x10E4;&#x10D8;&#x10E1; &#x10DA;&#x10D4;&#x10D2;&#x10D0;&#x10DA;&#x10D8;&#x10D6;&#x10D0;&#x10EA;&#x10D8;&#x10D0;&#x10E1;
    .row.icon-boxes.mt-4
      .col-md-6.col-lg-3.d-flex.align-items-stretch.mb-5.mb-lg-0(data-aos='zoom-in' data-aos-delay='600')
        .icon-box
          // <div class="icon"><i class="ri-fingerprint-line"></i></div>
          h4.title
            a(href='') &#x10D3;&#x10D0;&#x10DB;&#x10E4;&#x10E3;&#x10EB;&#x10DC;&#x10D4;&#x10D1;&#x10D4;&#x10DA;&#x10D8;
          p.description &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D8;, &#x10E0;&#x10DD;&#x10DB;&#x10D4;&#x10DA;&#x10D8;&#x10EA; &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D0;&#x10E1; &#x10E8;&#x10D4;&#x10DB;&#x10DD;&#x10E3;&#x10D4;&#x10E0;&#x10D7;&#x10D3;&#x10D0; 2021 &#x10EC;&#x10DA;&#x10D8;&#x10E1; 30 &#x10D8;&#x10D5;&#x10DA;&#x10D8;&#x10E1;&#x10D8;&#x10E1; 4:20 &#x10E1;&#x10D0;&#x10D0;&#x10D7;&#x10D0;&#x10DB;&#x10D3;&#x10D4;.
      .col-md-6.col-lg-3.d-flex.align-items-stretch.mb-5.mb-lg-0(data-aos='zoom-in' data-aos-delay='700')
        .icon-box
          // <div class="icon"><i class="ri-fingerprint-line"></i></div>
          h4.title
            a(href='') CBD
          p.description &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D8;, &#x10E0;&#x10DD;&#x10DB;&#x10D4;&#x10DA;&#x10D8;&#x10EA; &#x10D9;&#x10D0;&#x10DC;&#x10D0;&#x10E4;&#x10E1; &#x10D8;&#x10E7;&#x10D4;&#x10DC;&#x10D4;&#x10D1;&#x10E1; &#x10E1;&#x10D0;&#x10DB;&#x10D4;&#x10D3;&#x10D8;&#x10EA;&#x10D8;&#x10DC;&#x10DD; &#x10DB;&#x10D8;&#x10D6;&#x10DC;&#x10D8;&#x10D7;.
      .col-md-6.col-lg-3.d-flex.align-items-stretch.mb-5.mb-lg-0(data-aos='zoom-in' data-aos-delay='800')
        .icon-box
          // <div class="icon"><i class="ri-fingerprint-line"></i></div>
          h4.title
            a(href='') &#x10D8;&#x10DC;&#x10D5;&#x10D4;&#x10E1;&#x10E2;&#x10DD;&#x10E0;&#x10D8;
          p.description
            | &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D8;, &#x10E0;&#x10DD;&#x10DB;&#x10D4;&#x10DA;&#x10DB;&#x10D0;&#x10EA; &#x10D4;&#x10E0;&#x10D7;&#x10EF;&#x10D4;&#x10E0;&#x10D0;&#x10D3;&#x10D0;&#x10D3; &#x10D2;&#x10D0;&#x10DC;&#x10D0;&#x10EE;&#x10DD;&#x10E0;&#x10EA;&#x10D8;&#x10D4;&#x10DA;&#x10D0; &#x10D0;&#x10E0;&#x10D0;&#x10DC;&#x10D0;&#x10D9;&#x10DA;&#x10D4;&#x10D1; &#x10D0;&#x10D7;&#x10D0;&#x10E1;&#x10D8; &#x10DA;&#x10D0;&#x10E0;&#x10D8;&#x10E1; &#x10D8;&#x10DC;&#x10D5;&#x10D4;&#x10E1;&#x10E2;&#x10D8;&#x10EA;&#x10D8;&#x10D0;.
      .col-md-6.col-lg-3.d-flex.align-items-stretch.mb-5.mb-lg-0(data-aos='zoom-in' data-aos-delay='900')
        .icon-box
          // <div class="icon"><i class="ri-fingerprint-line"></i></div>
          h4.title
            a(href='') &#x10DD;&#x10E5;&#x10E0;&#x10DD;&#x10E1; &#x10D8;&#x10DC;&#x10D5;&#x10D4;&#x10E1;&#x10E2;&#x10DD;&#x10E0;&#x10D8;
          p.description &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D8;, &#x10E0;&#x10DD;&#x10DB;&#x10D4;&#x10DA;&#x10DB;&#x10D0;&#x10EA;  &#x10D2;&#x10D0;&#x10DC;&#x10D0;&#x10EE;&#x10DD;&#x10E0;&#x10EA;&#x10D8;&#x10D4;&#x10DA;&#x10D0; &#x10D0;&#x10E0;&#x10D0;&#x10DC;&#x10D0;&#x10D9;&#x10DA;&#x10D4;&#x10D1; &#x10D0;&#x10D7;&#x10D8; &#x10D0;&#x10D7;&#x10D0;&#x10E1;&#x10D8; &#x10DA;&#x10D0;&#x10E0;&#x10D8;&#x10E1; &#x10D8;&#x10DC;&#x10D5;&#x10D4;&#x10E1;&#x10E2;&#x10D8;&#x10EA;&#x10D8;&#x10D0;.
// End Hero
main#main
  // ======= About Section =======
  section#about.about
    .container(data-aos='fade-up')
      .section-title
        h2 &#x10E9;&#x10D5;&#x10D4;&#x10DC;&#x10E1; &#x10E8;&#x10D4;&#x10E1;&#x10D0;&#x10EE;&#x10D4;&#x10D1;
      .text-center
        p
          | &#x10D5;&#x10D7;&#x10D5;&#x10DA;&#x10D8;&#x10D7;, &#x10E0;&#x10DD;&#x10DB; &#x10D9;&#x10D0;&#x10DC;&#x10D0;&#x10E4;&#x10D8; &#x10D3;&#x10D0; &#x10DB;&#x10D8;&#x10E1;&#x10D8; &#x10DE;&#x10E0;&#x10DD;&#x10D3;&#x10E3;&#x10E5;&#x10E2;&#x10D4;&#x10D1;&#x10D8; &#x10E1;&#x10D0;&#x10E5;&#x10D0;&#x10E0;&#x10D7;&#x10D5;&#x10D4;&#x10DA;&#x10DD;&#x10E8;&#x10D8; &#x10E3;&#x10DC;&#x10D3;&#x10D0; &#x10D8;&#x10E7;&#x10DD;&#x10E1; &#x10E1;&#x10E0;&#x10E3;&#x10DA;&#x10D0;&#x10D3; &#x10DA;&#x10D4;&#x10D2;&#x10D0;&#x10DA;&#x10D8;&#x10D6;&#x10D4;&#x10D1;&#x10E3;&#x10DA;&#x10D8; &#x10D3;&#x10D0; &#x10D0;&#x10D3;&#x10D0;&#x10DB;&#x10D8;&#x10D0;&#x10DC;&#x10D4;&#x10D1;&#x10E1; &#x10E3;&#x10DC;&#x10D3;&#x10D0; &#x10F0;&#x10E5;&#x10DD;&#x10DC;&#x10D3;&#x10D4;&#x10D7; &#x10DB;&#x10D8;&#x10E1;&#x10D8; &#x10E4;&#x10DA;&#x10DD;&#x10D1;&#x10D8;&#x10E1;, &#x10DB;&#x10DD;&#x10EE;&#x10DB;&#x10D0;&#x10E0;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10D3;&#x10D0; &#x10DB;&#x10D8;&#x10E1;&#x10D8;&#x10D7; &#x10DE;&#x10D0;&#x10E2;&#x10D8;&#x10DD;&#x10E1;&#x10D0;&#x10DC;&#x10D8; &#x10E4;&#x10E3;&#x10DA;&#x10D8;&#x10E1; &#x10E8;&#x10DD;&#x10D5;&#x10DC;&#x10D8;&#x10E1; &#x10E1;&#x10D0;&#x10E8;&#x10E3;&#x10D0;&#x10DA;&#x10D4;&#x10D1;&#x10D0;, &#x10E0;&#x10DD;&#x10DB;&#x10DA;&#x10D8;&#x10E1; &#x10DB;&#x10D8;&#x10E1;&#x10D0;&#x10E6;&#x10EC;&#x10D4;&#x10D5;&#x10D0;&#x10D3;&#x10D0;&#x10EA; &#x10E8;&#x10D4;&#x10D8;&#x10E5;&#x10DB;&#x10DC;&#x10D0; &#x10D9;&#x10D0;&#x10DC;&#x10D0;&#x10E4;&#x10D8;&#x10E1; &#x10DB;&#x10DD;&#x10E7;&#x10D5;&#x10D0;&#x10E0;&#x10E3;&#x10DA;&#x10D7;&#x10D0; &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D0;.
        a.btn-learn-more(href='constitution') &#x10D9;&#x10DD;&#x10DC;&#x10E1;&#x10E2;&#x10D8;&#x10E2;&#x10E3;&#x10EA;&#x10D8;&#x10D0;
  // End About Section
  // ======= About Video Section =======
  section#about-video.about-video
    .container(data-aos='fade-up')
      .row.align-items-center
        .col-lg-6.video-box.align-self-baseline(data-aos='fade-right' data-aos-delay='100')
          img.img-fluid(src='assets/img/about-video.jpg' alt='')
          a.glightbox.play-btn.mb-4(href='https://www.youtube.com/watch?v=SPudUsGSW3Q' data-vbtype='video' data-autoplay='true')
        .col-lg-6.pt-3.pt-lg-0.content(data-aos='fade-left' data-aos-delay='100')
          h3.mb-4 &#x10DB;&#x10D8;&#x10D6;&#x10DC;&#x10D4;&#x10D1;&#x10D8;
          ul
            li
              i.bx.bx-check-double
              |  &#x10E1;&#x10D0;&#x10E5;&#x10D0;&#x10E0;&#x10D7;&#x10D5;&#x10D4;&#x10DA;&#x10DD;&#x10E8;&#x10D8; &#x10D9;&#x10D0;&#x10DC;&#x10D0;&#x10E4;&#x10D8;&#x10E1; &#x10D3;&#x10D0; &#x10DB;&#x10D8;&#x10E1;&#x10D8; &#x10DE;&#x10E0;&#x10DD;&#x10D3;&#x10E3;&#x10E5;&#x10E2;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10E1;&#x10E0;&#x10E3;&#x10DA;&#x10D8; &#x10DA;&#x10D4;&#x10D2;&#x10D0;&#x10DA;&#x10D8;&#x10D6;&#x10D0;&#x10EA;&#x10D8;&#x10D0;.
            li
              i.bx.bx-check-double
              |  &#x10E1;&#x10D0;&#x10E5;&#x10D0;&#x10E0;&#x10D7;&#x10D5;&#x10D4;&#x10DA;&#x10DD;&#x10E8;&#x10D8; &#x10DE;&#x10D8;&#x10E0;&#x10D5;&#x10D4;&#x10DA;&#x10D8; &#x10D9;&#x10DD;&#x10E4;&#x10D8;&#x10E8;&#x10DD;&#x10DE;&#x10D8;&#x10E1; &#x10D2;&#x10D0;&#x10EE;&#x10E1;&#x10DC;&#x10D0;.
            li
              i.bx.bx-check-double
              |  &#x10D4;&#x10E0;&#x10D7;&#x10DB;&#x10D0;&#x10DC;&#x10D4;&#x10D7;&#x10D8;&#x10E1; &#x10D3;&#x10D0;&#x10EA;&#x10D5;&#x10D0; &#x10E1;&#x10D0;&#x10EE;&#x10D4;&#x10DA;&#x10DB;&#x10EC;&#x10D8;&#x10E4;&#x10DD; &#x10E1;&#x10D8;&#x10E1;&#x10E2;&#x10D4;&#x10DB;&#x10D8;&#x10E1; &#x10EB;&#x10D0;&#x10DA;&#x10D0;&#x10D3;&#x10DD;&#x10D1;&#x10D8;&#x10E1;&#x10D2;&#x10D0;&#x10DC;.
            li
              i.bx.bx-check-double
              |  &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10E0;&#x10D8;&#x10D5;&#x10D8; &#x10EA;&#x10DC;&#x10DD;&#x10D1;&#x10D8;&#x10D4;&#x10E0;&#x10D4;&#x10D1;&#x10D8;&#x10E1;  &#x10D0;&#x10DB;&#x10D0;&#x10E6;&#x10DA;&#x10D4;&#x10D1;&#x10D0; &#x10D9;&#x10D0;&#x10DC;&#x10D0;&#x10E4;&#x10D8;&#x10E1; &#x10D9;&#x10E3;&#x10DA;&#x10E2;&#x10E3;&#x10E0;&#x10D0;&#x10E1;&#x10D7;&#x10D0;&#x10DC; &#x10D3;&#x10D0;&#x10D9;&#x10D0;&#x10D5;&#x10E8;&#x10D8;&#x10E0;&#x10D4;&#x10D1;&#x10D8;&#x10D7;.
  // End About Video Section
  // ======= Clients Section =======
  section#clients.clients.section-bg
    .container
      .row
        .col-lg-2.col-md-4.col-6.d-flex.align-items-center.justify-content-center(data-aos='zoom-in')
          img.img-fluid(src='assets/img/clients/gclient-1.jpg' alt='')
        .col-lg-2.col-md-4.col-6.d-flex.align-items-center.justify-content-center(data-aos='zoom-in')
          img.img-fluid(src='assets/img/clients/gclient-2.webp' alt='')
        .col-lg-2.col-md-4.col-6.d-flex.align-items-center.justify-content-center(data-aos='zoom-in')
          img.img-fluid(src='assets/img/clients/gclient-3.jpg' alt='')
        .col-lg-2.col-md-4.col-6.d-flex.align-items-center.justify-content-center(data-aos='zoom-in')
          img.img-fluid(src='assets/img/clients/gclient-4.png' alt='')
        .col-lg-2.col-md-4.col-6.d-flex.align-items-center.justify-content-center(data-aos='zoom-in')
          img.img-fluid(src='assets/img/clients/gclient-5.png' alt='')
        .col-lg-2.col-md-4.col-6.d-flex.align-items-center.justify-content-center(data-aos='zoom-in')
          img.img-fluid(src='assets/img/clients/gclient-6.jpg' alt='')
  // End Clients Section
  // ======= Testimonials Section =======
  section#testimonials.testimonials
    .container(data-aos='fade-up')
      .section-title
        h2 &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D4;&#x10D1;&#x10D8;
      .testimonials-slider.swiper-container(data-aos='fade-up' data-aos-delay='100')
        #latestUsers.swiper-wrapper
          // testimonial items
        // <div class="swiper-pagination"></div>
        a.users-btn(href='users') &#x10E1;&#x10E0;&#x10E3;&#x10DA;&#x10D8; &#x10E1;&#x10D8;&#x10D0;
  // Modal - Full User List
  #usersModal.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='usersModalLabel' aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          h5#usersModalLabel.modal-title &#x10E1;&#x10D8;&#x10D0;
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
          ul#usersList.list-group
            // Users Comming From Array
        .modal-footer
          button.btn.btn-success(type='button' data-bs-dismiss='modal')
            | &#x10D3;&#x10D0;&#x10EE;&#x10E3;&#x10E0;&#x10D5;&#x10D0;
  // End Testimonials Section
  // ======= Services Section =======
  section#services.services.section-bg
    .container(data-aos='fade-up')
      .section-title
        h2 &#x10DE;&#x10E0;&#x10D8;&#x10DC;&#x10EA;&#x10D8;&#x10DE;&#x10D4;&#x10D1;&#x10D8;
        // <p>გირჩი არის ერთადერთი პარტია საქართველოში, რომელიც ცდილობს წარმოიდგინოს როგორი იქნება სამყარო 10 ან 20 წელიწადის შემდეგ და რა ქარტეხილები გველის მომავალში თითოეულ ადამიანს და მთელ ქვეყანას.</p>
      .row
        .col-lg-4.col-md-6.d-flex.align-items-stretch(data-aos='zoom-in' data-aos-delay='100')
          .icon-box.iconbox-blue
            //
              <div class="icon">
              <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
              <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
              </svg>
              <i class="bx bxl-dribbble"></i>
              </div>
            h4
              a(href='#') &#x10DB;&#x10D0;&#x10E0;&#x10D7;&#x10D5;&#x10D0;
            p
              | &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10DB;&#x10DB;&#x10D0;&#x10E0;&#x10D7;&#x10D5;&#x10D4;&#x10DA;&#x10D8; &#x10DD;&#x10E0;&#x10D2;&#x10D0;&#x10DC;&#x10DD;&#x10D0; &#x10D9;&#x10D0;&#x10DC;&#x10D0;&#x10E4;&#x10D8;&#x10E1; &#x10DB;&#x10DD;&#x10E7;&#x10D5;&#x10D0;&#x10E0;&#x10E3;&#x10DA;&#x10D7;&#x10D0; &#x10E1;&#x10D0;&#x10D1;&#x10ED;&#x10DD;, &#x10E0;&#x10DD;&#x10DB;&#x10D4;&#x10DA;&#x10D8;&#x10EA; &#x10D0;&#x10D8;&#x10E0;&#x10E9;&#x10D4;&#x10D5;&#x10D0; &#x10D4;&#x10E0;&#x10D7;&#x10D8; &#x10EC;&#x10DA;&#x10D8;&#x10E1; &#x10D5;&#x10D0;&#x10D3;&#x10D8;&#x10D7; &#x10D3;&#x10D0; &#x10D2;&#x10D0;&#x10D3;&#x10D0;&#x10EC;&#x10E7;&#x10D5;&#x10D4;&#x10E2;&#x10D8;&#x10DA;&#x10D4;&#x10D1;&#x10D0;&#x10E1; &#x10D8;&#x10E6;&#x10D4;&#x10D1;&#x10E1; &#x10E3;&#x10DB;&#x10E0;&#x10D0;&#x10D5;&#x10DA;&#x10D4;&#x10E1;&#x10DD;&#x10D1;&#x10D8;&#x10D7;.
        .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4.mt-md-0(data-aos='zoom-in' data-aos-delay='200')
          .icon-box.iconbox-orange
            //
              <div class="icon">
              <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
              <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426"></path>
              </svg>
              <i class="bx bx-file"></i>
              </div>
            h4
              a(href='') &#x10E8;&#x10D4;&#x10DB;&#x10DD;&#x10E1;&#x10D0;&#x10D5;&#x10DA;&#x10D4;&#x10D1;&#x10D8;
            p
              | &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10E4;&#x10D8;&#x10DC;&#x10D0;&#x10DC;&#x10E1;&#x10D4;&#x10D1;&#x10D8; &#x10E3;&#x10D6;&#x10E0;&#x10E3;&#x10DC;&#x10D5;&#x10D4;&#x10DA;&#x10E7;&#x10DD;&#x10E4;&#x10D8;&#x10DA;&#x10D8;&#x10D0; &#x10E1;&#x10D0;&#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1;&#x10D2;&#x10D0;&#x10DC;, &#x10E8;&#x10D4;&#x10DB;&#x10DD;&#x10EC;&#x10D8;&#x10E0;&#x10E3;&#x10DA;&#x10DD;&#x10D1;&#x10D4;&#x10D1;&#x10D8;&#x10E1;&#x10D2;&#x10D0;&#x10DC;, &#x10D8;&#x10DC;&#x10D5;&#x10D4;&#x10E1;&#x10E2;&#x10D8;&#x10EA;&#x10D8;&#x10D4;&#x10D1;&#x10D8;&#x10E1;&#x10D2;&#x10D0;&#x10DC; &#x10D3;&#x10D0; &#x10DE;&#x10D0;&#x10E2;&#x10D8;&#x10DD;&#x10E1;&#x10D0;&#x10DC;&#x10D8; &#x10D2;&#x10D6;&#x10D8;&#x10D7; &#x10DC;&#x10D0;&#x10E8;&#x10DD;&#x10D5;&#x10DC;&#x10D8; &#x10E1;&#x10EE;&#x10D5;&#x10D0; &#x10E8;&#x10D4;&#x10DB;&#x10DD;&#x10E1;&#x10D0;&#x10D5;&#x10DA;&#x10D4;&#x10D1;&#x10D8;&#x10E1;&#x10D2;&#x10D0;&#x10DC;.
        .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4.mt-lg-0(data-aos='zoom-in' data-aos-delay='300')
          .icon-box.iconbox-pink
            //
              <div class="icon">
              <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
              <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
              </svg>
              <i class="bx bx-tachometer"></i>
              </div>
            h4
              a(href='') &#x10EE;&#x10D0;&#x10E0;&#x10EF;&#x10D4;&#x10D1;&#x10D8;
            p
              | &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10E8;&#x10D4;&#x10DB;&#x10DD;&#x10E1;&#x10D0;&#x10D5;&#x10DA;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10DC;&#x10D0;&#x10EE;&#x10D4;&#x10D5;&#x10D0;&#x10E0;&#x10D8; &#x10D2;&#x10D0;&#x10DC;&#x10D9;&#x10E3;&#x10D7;&#x10D5;&#x10DC;&#x10D8;&#x10DA;&#x10D8;&#x10D0; &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10DA;&#x10DD;&#x10D1;&#x10D8;&#x10E1;&#x10E2;&#x10D8; &#x10E1;&#x10D0;&#x10E5;&#x10D0;&#x10E0;&#x10D7;&#x10D5;&#x10D4;&#x10DA;&#x10DD;&#x10E1; &#x10DE;&#x10D0;&#x10E0;&#x10DA;&#x10D0;&#x10DB;&#x10D4;&#x10DC;&#x10E2;&#x10D8;&#x10E1; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D4;&#x10D1;&#x10D8;&#x10E1;&#x10D7;&#x10D5;&#x10D8;&#x10E1;, &#x10EE;&#x10DD;&#x10DA;&#x10DD; &#x10D3;&#x10D0;&#x10E0;&#x10E9;&#x10D4;&#x10DC;&#x10D8;&#x10DA;&#x10D8;&#x10E1; &#x10D2;&#x10D0;&#x10DC;&#x10D9;&#x10D0;&#x10E0;&#x10D2;&#x10D5;&#x10D0; &#x10EE;&#x10D3;&#x10D4;&#x10D1;&#x10D0; &#x10DE;&#x10E0;&#x10DD;&#x10D4;&#x10E5;&#x10E2;&#x10D6;&#x10D4; &#x10DE;&#x10D0;&#x10E1;&#x10E3;&#x10EE;&#x10D8;&#x10E1;&#x10DB;&#x10D2;&#x10D4;&#x10D1;&#x10D4;&#x10DA; &#x10DE;&#x10D8;&#x10E0;&#x10D7;&#x10D0; &#x10DB;&#x10D8;&#x10D4;&#x10E0;.
        .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4(data-aos='zoom-in' data-aos-delay='100')
          .icon-box.iconbox-yellow
            //
              <div class="icon">
              <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
              <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,503.46388370962813C374.79870501325706,506.71871716319447,464.8034551963731,527.1746412648533,510.4981551193396,467.86667711651364C555.9287308511215,408.9015244558933,512.6030010748507,327.5744911775523,490.211057578863,256.5855673507754C471.097692560561,195.9906835881958,447.69079081568157,138.11976852964426,395.19560036434837,102.3242989838813C329.3053358748298,57.3949838291264,248.02791733380457,8.279543830951368,175.87071277845988,42.242879143198664C103.41431057327972,76.34704239035025,93.79494320519305,170.9812938413882,81.28167332365135,250.07896920659033C70.17666984294237,320.27484674793965,64.84698225790005,396.69656628748305,111.28512138212992,450.4950937839243C156.20124167950087,502.5303643271138,231.32542653798444,500.4755392045468,300,503.46388370962813"></path>
              </svg>
              <i class="bx bx-layer"></i>
              </div>
            h4
              a(href='') &#x10E1;&#x10D0;&#x10EF;&#x10D0;&#x10E0;&#x10DD;&#x10DD;&#x10D1;&#x10D0;
            p &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10E8;&#x10D4;&#x10DB;&#x10DD;&#x10E1;&#x10D0;&#x10D5;&#x10DA;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10D3;&#x10D0; &#x10DB;&#x10D0;&#x10D7;&#x10D8; &#x10EE;&#x10D0;&#x10E0;&#x10EF;&#x10D5;&#x10D8;&#x10E1; &#x10E8;&#x10D4;&#x10E1;&#x10D0;&#x10EE;&#x10D4;&#x10D1; &#x10D8;&#x10DC;&#x10E4;&#x10DD;&#x10E0;&#x10DB;&#x10D0;&#x10EA;&#x10D8;&#x10D0; &#x10E1;&#x10D0;&#x10EF;&#x10D0;&#x10E0;&#x10DD;&#x10D0;.
        .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4(data-aos='zoom-in' data-aos-delay='200')
          .icon-box.iconbox-red
            //
              <div class="icon">
              <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
              <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,532.3542879108572C369.38199826031484,532.3153073249985,429.10787420159085,491.63046689027357,474.5244479745417,439.17860296908856C522.8885846962883,383.3225815378663,569.1668002868075,314.3205725914397,550.7432151929288,242.7694973846089C532.6665558377875,172.5657663291529,456.2379748765914,142.6223662098291,390.3689995646985,112.34683881706744C326.66090330228417,83.06452184765237,258.84405631176094,53.51806209861945,193.32584062364296,78.48882559362697C121.61183558270385,105.82097193414197,62.805066853699245,167.19869350419734,48.57481801355237,242.6138429142374C34.843463184063346,315.3850353017275,76.69343916112496,383.4422959591041,125.22947124332185,439.3748458443577C170.7312796277747,491.8107796887764,230.57421082200815,532.3932930995766,300,532.3542879108572"></path>
              </svg>
              <i class="bx bx-slideshow"></i>
              </div>
            h4
              a(href='') &#x10D9;&#x10DD;&#x10DC;&#x10E4;&#x10DA;&#x10D8;&#x10E5;&#x10E2;&#x10D4;&#x10D1;&#x10D8;
            p
              | &#x10D7;&#x10E3; &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D4;&#x10D1;&#x10E1; &#x10E8;&#x10DD;&#x10E0;&#x10D8;&#x10E1; &#x10D9;&#x10DD;&#x10DC;&#x10E4;&#x10DA;&#x10D8;&#x10E5;&#x10E2;&#x10D8; &#x10E1;&#x10D0;&#x10E3;&#x10D1;&#x10E0;&#x10D8;&#x10D7; &#x10D5;&#x10D4;&#x10E0; &#x10EE;&#x10D4;&#x10E0;&#x10EE;&#x10D3;&#x10D4;&#x10D1;&#x10D0;, &#x10E1;&#x10D0;&#x10E5;&#x10DB;&#x10D4; &#x10D2;&#x10D0;&#x10DC;&#x10E1;&#x10D0;&#x10EE;&#x10D8;&#x10DA;&#x10D5;&#x10D4;&#x10DA;&#x10D0;&#x10D3; &#x10D2;&#x10D0;&#x10D3;&#x10D0;&#x10D4;&#x10EA;&#x10D4;&#x10DB;&#x10D0; &#x10D2;&#x10D8;&#x10E0;&#x10E9;&#x10D8;&#x10E1; &#x10E1;&#x10D0;&#x10D0;&#x10E0;&#x10D1;&#x10D8;&#x10E2;&#x10E0;&#x10D0;&#x10DF;&#x10DD; &#x10E1;&#x10D0;&#x10E1;&#x10D0;&#x10DB;&#x10D0;&#x10E0;&#x10D7;&#x10DA;&#x10DD;&#x10E1;.
        .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4(data-aos='zoom-in' data-aos-delay='300')
          .icon-box.iconbox-teal
            //
              <div class="icon">
              <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
              <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,566.797414625762C385.7384707136149,576.1784315230908,478.7894351017131,552.8928747891023,531.9192734346935,484.94944893311C584.6109503024035,417.5663521118492,582.489472248146,322.67544863468447,553.9536738515405,242.03673114598146C529.1557734026468,171.96086150256528,465.24506316201064,127.66468636344209,395.9583748389544,100.7403814666027C334.2173773831606,76.7482773500951,269.4350130405921,84.62216499799875,207.1952322260088,107.2889140133804C132.92018162631612,134.33871894543012,41.79353780512637,160.00259165414826,22.644507872594943,236.69541883565114C3.319112789854554,314.0945973066697,72.72355303640163,379.243833228382,124.04198916343866,440.3218312028393C172.9286146004772,498.5055451809895,224.45579914871206,558.5317968840102,300,566.797414625762"></path>
              </svg>
              <i class="bx bx-arch"></i>
              </div>
            h4
              a(href='') &#x10D3;&#x10D0;&#x10E4;&#x10E3;&#x10EB;&#x10DC;&#x10D4;&#x10D1;&#x10D0;
            p &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D0; &#x10D3;&#x10D0;&#x10E4;&#x10E3;&#x10EB;&#x10DC;&#x10D4;&#x10D1;&#x10E3;&#x10DA;&#x10D0;&#x10D3;  &#x10E9;&#x10D0;&#x10D8;&#x10D7;&#x10D5;&#x10DA;&#x10D4;&#x10D1;&#x10D0; 2021 &#x10EC;&#x10DA;&#x10D8;&#x10E1; 30 &#x10D8;&#x10D5;&#x10DA;&#x10D8;&#x10E1;&#x10D8;&#x10E1; 4:20 &#x10E1;&#x10D0;&#x10D0;&#x10D7;&#x10D8;&#x10D3;&#x10D0;&#x10DC;.
  // End Sevices Section
  // ======= Portfolio Section =======
  section#portfolio.portfolio
    .container(data-aos='fade-up')
      .section-title
        h2 &#x10DE;&#x10D0;&#x10E0;&#x10E2;&#x10DC;&#x10D8;&#x10DD;&#x10E0;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10DE;&#x10E0;&#x10DD;&#x10D3;&#x10E3;&#x10E5;&#x10E2;&#x10D4;&#x10D1;&#x10D8;
        p &#x10E9;&#x10D5;&#x10D4;&#x10DC;&#x10D8; &#x10DE;&#x10D0;&#x10E0;&#x10E2;&#x10DC;&#x10D8;&#x10DD;&#x10E0;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10DE;&#x10E0;&#x10DD;&#x10D3;&#x10E3;&#x10E5;&#x10E2;&#x10D4;&#x10D1;&#x10D8;
      .row(data-aos='fade-up' data-aos-delay='150')
        .col-lg-12.d-flex.justify-content-center
          ul#portfolio-flters
            li.filter-active(data-filter='*') &#x10E7;&#x10D5;&#x10D4;&#x10DA;&#x10D0;
            li(data-filter='.filter-app') &#x10D9;&#x10D0;&#x10DC;&#x10D0;&#x10E4;&#x10D8;&#x10E1; &#x10EF;&#x10D8;&#x10E8;&#x10D4;&#x10D1;&#x10D8;
            li(data-filter='.filter-card') &#x10D9;&#x10D0;&#x10DC;&#x10D0;&#x10E4;&#x10D8;&#x10E1; &#x10D7;&#x10D4;&#x10E1;&#x10DA;&#x10D4;&#x10D1;&#x10D8;
            li(data-filter='.filter-web') &#x10EF;&#x10DD;&#x10D8;&#x10DC;&#x10D7;&#x10D4;&#x10D1;&#x10D8;
      .row.portfolio-container(data-aos='fade-up' data-aos-delay='300')
        .col-lg-4.col-md-6.portfolio-item.filter-app
          .portfolio-wrap
            img.img-fluid(src='assets/img/portfolio/portfolio-1.jpg' alt='')
            .portfolio-info
              h4 App 1
              p App
              .portfolio-links
                a.portfolio-lightbox(href='assets/img/portfolio/portfolio-1.jpg' data-gallery='portfolioGallery' title='App 1')
                  i.bx.bx-plus
                a(href='portfolio-details.html' title='More Details')
                  i.bx.bx-link
        .col-lg-4.col-md-6.portfolio-item.filter-web
          .portfolio-wrap
            img.img-fluid(src='assets/img/portfolio/portfolio-2.jpg' alt='')
            .portfolio-info
              h4 Web 3
              p Web
              .portfolio-links
                a.portfolio-lightbox(href='assets/img/portfolio/portfolio-2.jpg' data-gallery='portfolioGallery' title='Web 3')
                  i.bx.bx-plus
                a(href='portfolio-details.html' title='More Details')
                  i.bx.bx-link
        .col-lg-4.col-md-6.portfolio-item.filter-app
          .portfolio-wrap
            img.img-fluid(src='assets/img/portfolio/portfolio-3.jpg' alt='')
            .portfolio-info
              h4 App 2
              p App
              .portfolio-links
                a.portfolio-lightbox(href='assets/img/portfolio/portfolio-3.jpg' data-gallery='portfolioGallery' title='App 2')
                  i.bx.bx-plus
                a(href='portfolio-details.html' title='More Details')
                  i.bx.bx-link
        .col-lg-4.col-md-6.portfolio-item.filter-card
          .portfolio-wrap
            img.img-fluid(src='assets/img/portfolio/portfolio-4.jpg' alt='')
            .portfolio-info
              h4 Card 2
              p Card
              .portfolio-links
                a.portfolio-lightbox(href='assets/img/portfolio/portfolio-4.jpg' data-gallery='portfolioGallery' title='Card 2')
                  i.bx.bx-plus
                a(href='portfolio-details.html' title='More Details')
                  i.bx.bx-link
        .col-lg-4.col-md-6.portfolio-item.filter-web
          .portfolio-wrap
            img.img-fluid(src='assets/img/portfolio/portfolio-5.jpg' alt='')
            .portfolio-info
              h4 Web 2
              p Web
              .portfolio-links
                a.portfolio-lightbox(href='assets/img/portfolio/portfolio-5.jpg' data-gallery='portfolioGallery' title='Web 2')
                  i.bx.bx-plus
                a(href='portfolio-details.html' title='More Details')
                  i.bx.bx-link
        .col-lg-4.col-md-6.portfolio-item.filter-app
          .portfolio-wrap
            img.img-fluid(src='assets/img/portfolio/portfolio-6.jpg' alt='')
            .portfolio-info
              h4 App 3
              p App
              .portfolio-links
                a.portfolio-lightbox(href='assets/img/portfolio/portfolio-6.jpg' data-gallery='portfolioGallery' title='App 3')
                  i.bx.bx-plus
                a(href='portfolio-details.html' title='More Details')
                  i.bx.bx-link
        .col-lg-4.col-md-6.portfolio-item.filter-card
          .portfolio-wrap
            img.img-fluid(src='assets/img/portfolio/portfolio-7.jpg' alt='')
            .portfolio-info
              h4 Card 1
              p Card
              .portfolio-links
                a.portfolio-lightbox(href='assets/img/portfolio/portfolio-7.jpg' data-gallery='portfolioGallery' title='Card 1')
                  i.bx.bx-plus
                a(href='portfolio-details.html' title='More Details')
                  i.bx.bx-link
        .col-lg-4.col-md-6.portfolio-item.filter-card
          .portfolio-wrap
            img.img-fluid(src='assets/img/portfolio/portfolio-8.jpg' alt='')
            .portfolio-info
              h4 Card 3
              p Card
              .portfolio-links
                a.portfolio-lightbox(href='assets/img/portfolio/portfolio-8.jpg' data-gallery='portfolioGallery' title='Card 3')
                  i.bx.bx-plus
                a(href='portfolio-details.html' title='More Details')
                  i.bx.bx-link
        .col-lg-4.col-md-6.portfolio-item.filter-web
          .portfolio-wrap
            img.img-fluid(src='assets/img/portfolio/portfolio-9.jpg' alt='')
            .portfolio-info
              h4 Web 3
              p Web
              .portfolio-links
                a.portfolio-lightbox(href='assets/img/portfolio/portfolio-9.jpg' data-gallery='portfolioGallery' title='Web 3')
                  i.bx.bx-plus
                a(href='portfolio-details.html' title='More Details')
                  i.bx.bx-link
  // End Portfolio Section
  // ======= Team Section =======
  section#team.team.section-bg
    .container(data-aos='fade-up')
      .section-title
        h2 &#x10D2;&#x10E3;&#x10DC;&#x10D3;&#x10D8;
        p &#x10D9;&#x10D0;&#x10DC;&#x10D0;&#x10E4;&#x10D8;&#x10E1; &#x10DB;&#x10DD;&#x10E7;&#x10D5;&#x10D0;&#x10E0;&#x10E3;&#x10DA;&#x10D7;&#x10D0; &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10D2;&#x10E3;&#x10DC;&#x10D3;&#x10D8;
      .row.justify-content-center.align-items-stretch
        .col-lg-3.col-md-6.d-flex.justify-content-center.align-items-stretch(data-aos='fade-up' data-aos-delay='100')
          .member
            .member-img
              img.img-fluid(src='assets/img/team/xvichia_iago.webp' alt='')
              .social
                a(href='')
                  i.bi.bi-twitter
                a(href='')
                  i.bi.bi-facebook
                a(href='')
                  i.bi.bi-instagram
                a(href='')
                  i.bi.bi-linkedin
            .member-info
              h4 &#x10D8;&#x10D0;&#x10D2;&#x10DD; &#x10EE;&#x10D5;&#x10D8;&#x10E9;&#x10D8;&#x10D0;
              span &#x10D3;&#x10D0;&#x10DB;&#x10E4;&#x10E3;&#x10EB;&#x10DC;&#x10D4;&#x10D1;&#x10D4;&#x10DA;&#x10D8;
        .col-lg-3.col-md-6.d-flex.justify-content-center.align-items-stretch(data-aos='fade-up' data-aos-delay='200')
          .member
            .member-img
              img.img-fluid(src='assets/img/team/vakhtang-megrelishvili_57da63ee2b090-800x445-1.jpg' alt='')
              .social
                a(href='')
                  i.bi.bi-twitter
                a(href='')
                  i.bi.bi-facebook
                a(href='')
                  i.bi.bi-instagram
                a(href='')
                  i.bi.bi-linkedin
            .member-info
              h4 &#x10D5;&#x10D0;&#x10EE;&#x10DD; &#x10DB;&#x10D4;&#x10D2;&#x10E0;&#x10D4;&#x10DA;&#x10D8;&#x10E8;&#x10D5;&#x10D8;&#x10DA;&#x10D8;
              span &#x10E1;&#x10D0;&#x10D1;&#x10ED;&#x10DD;&#x10E1; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D8;
        .col-lg-3.col-md-6.d-flex.justify-content-center.align-items-stretch(data-aos='fade-up' data-aos-delay='300')
          .member
            .member-img
              img.img-fluid(src='assets/img/team/raqviasvili.jpg' alt='')
              .social
                a(href='')
                  i.bi.bi-twitter
                a(href='')
                  i.bi.bi-facebook
                a(href='')
                  i.bi.bi-instagram
                a(href='')
                  i.bi.bi-linkedin
            .member-info
              h4 &#x10E1;&#x10D0;&#x10DC;&#x10D3;&#x10E0;&#x10DD; &#x10E0;&#x10D0;&#x10E5;&#x10D5;&#x10D8;&#x10D0;&#x10E8;&#x10D5;&#x10D8;&#x10DA;&#x10D8;
              span &#x10E1;&#x10D0;&#x10D1;&#x10ED;&#x10DD;&#x10E1; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D8;
  // End Team Section
  // ======= Frequently Asked Questions Section =======
  section#faq.faq.section-bg
    .container(data-aos='fade-up')
      .section-title
        h2 &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10DD;&#x10D1;&#x10D0;
        p &#x10DB;&#x10DD;&#x10DB;&#x10EE;&#x10DB;&#x10D0;&#x10E0;&#x10D4;&#x10D1;&#x10DA;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10EE;&#x10E8;&#x10D8;&#x10E0;&#x10D0;&#x10D3; &#x10D3;&#x10D0;&#x10E1;&#x10DB;&#x10E3;&#x10DA;&#x10D8; &#x10D9;&#x10D8;&#x10D7;&#x10EE;&#x10D5;&#x10D4;&#x10D1;&#x10D8;
      .faq-list
        ul
          li(data-aos='fade-up')
            i.bx.bx-help-circle.icon-help
            a.collapse(data-bs-toggle='collapse' data-bs-target='#faq-list-1')
              | &#x10D5;&#x10D8;&#x10E1; &#x10E8;&#x10D4;&#x10E3;&#x10EB;&#x10DA;&#x10D8;&#x10D0; &#x10D2;&#x10D0;&#x10EE;&#x10D3;&#x10D4;&#x10E1; &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D8;
              i.bx.bx-chevron-down.icon-show
              i.bx.bx-chevron-up.icon-close
            #faq-list-1.collapse.show(data-bs-parent='.faq-list')
              p
                | &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D8; &#x10E8;&#x10D4;&#x10E3;&#x10EB;&#x10DA;&#x10D8;&#x10D0; &#x10D2;&#x10D0;&#x10EE;&#x10D3;&#x10D4;&#x10E1; &#x10DC;&#x10D4;&#x10D1;&#x10D8;&#x10E1;&#x10DB;&#x10D8;&#x10D4;&#x10E0; &#x10D0;&#x10D3;&#x10D0;&#x10DB;&#x10D8;&#x10D0;&#x10DC;&#x10E1;, &#x10D5;&#x10D8;&#x10DC;&#x10EA; &#x10D4;&#x10D7;&#x10D0;&#x10DC;&#x10EE;&#x10DB;&#x10D4;&#x10D1;&#x10D0; &#x10D9;&#x10DD;&#x10DC;&#x10E1;&#x10E2;&#x10D8;&#x10E2;&#x10E3;&#x10EA;&#x10D8;&#x10D0;&#x10E1; &#x10D3;&#x10D0; &#x10D8;&#x10EE;&#x10D3;&#x10D8;&#x10E1; &#x10E1;&#x10D0;&#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10DD;&#x10E1;.
          li(data-aos='fade-up' data-aos-delay='200')
            i.bx.bx-help-circle.icon-help
            a.collapsed(data-bs-toggle='collapse' data-bs-target='#faq-list-3')
              | &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10DD;&#x10D1;&#x10D8;&#x10E1; &#x10D3;&#x10D0;&#x10DB;&#x10D0;&#x10D3;&#x10D0;&#x10E1;&#x10E2;&#x10E3;&#x10E0;&#x10D4;&#x10D1;&#x10D4;&#x10DA;&#x10D8; &#x10D3;&#x10DD;&#x10D9;&#x10E3;&#x10DB;&#x10D4;&#x10DC;&#x10E2;&#x10D8;
              i.bx.bx-chevron-down.icon-show
              i.bx.bx-chevron-up.icon-close
            #faq-list-3.collapse(data-bs-parent='.faq-list')
              p
                | &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D4;&#x10D1;&#x10E1; &#x10D2;&#x10D0;&#x10D3;&#x10D0;&#x10D4;&#x10EA;&#x10D4;&#x10DB;&#x10D0;&#x10D7; &#x10D9;&#x10D0;&#x10DC;&#x10D0;&#x10E4;&#x10D8;&#x10E1; &#x10DB;&#x10DD;&#x10E7;&#x10D5;&#x10D0;&#x10E0;&#x10E3;&#x10DA;&#x10D8;&#x10E1; &#x10D1;&#x10D0;&#x10E0;&#x10D0;&#x10D7;&#x10D8;, &#x10EE;&#x10DD;&#x10DA;&#x10DD; &#x10D8;&#x10E3;&#x10E0;&#x10D8;&#x10D3;&#x10D8;&#x10E3;&#x10DA; &#x10DE;&#x10D8;&#x10E0;&#x10D4;&#x10D1;&#x10E1; - &#x10DE;&#x10D0;&#x10E0;&#x10E2;&#x10DC;&#x10D8;&#x10DD;&#x10E0;&#x10D7;&#x10D0; &#x10DB;&#x10DD;&#x10EC;&#x10DB;&#x10DD;&#x10D1;&#x10D0;.
          li(data-aos='fade-up' data-aos-delay='300')
            i.bx.bx-help-circle.icon-help
            a.collapsed(data-bs-toggle='collapse' data-bs-target='#faq-list-4')
              | &#x10D5;&#x10D8;&#x10DC; &#x10D0;&#x10E0;&#x10D8;&#x10E1; &#x10D0;&#x10E5;&#x10E2;&#x10D8;&#x10E3;&#x10E0;&#x10D8; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D8;
              i.bx.bx-chevron-down.icon-show
              i.bx.bx-chevron-up.icon-close
            #faq-list-4.collapse(data-bs-parent='.faq-list')
              p
                | &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10E1;, &#x10E0;&#x10DD;&#x10DB;&#x10D4;&#x10DA;&#x10E1;&#x10D0;&#x10EA; &#x10D3;&#x10D0;&#x10E4;&#x10D0;&#x10E0;&#x10E3;&#x10DA;&#x10D8; &#x10D0;&#x10E5;&#x10D5;&#x10E1; &#x10D2;&#x10D0;&#x10E1;&#x10E3;&#x10DA;&#x10D8; &#x10D7;&#x10D5;&#x10D8;&#x10E1; &#x10E1;&#x10D0;&#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10DD; &#x10D2;&#x10D0;&#x10D3;&#x10D0;&#x10E1;&#x10D0;&#x10EE;&#x10D0;&#x10D3;&#x10D8;, &#x10D8;&#x10D7;&#x10D5;&#x10DA;&#x10D4;&#x10D1;&#x10D0; &#x10D0;&#x10E5;&#x10E2;&#x10D8;&#x10E3;&#x10E0; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D0;&#x10D3;.
          li(data-aos='fade-up' data-aos-delay='400')
            i.bx.bx-help-circle.icon-help
            a.collapsed(data-bs-toggle='collapse' data-bs-target='#faq-list-5')
              | &#x10E0;&#x10D0;&#x10DB;&#x10D3;&#x10D4;&#x10DC;&#x10D8;&#x10D0; &#x10DB;&#x10D8;&#x10DC;&#x10D8;&#x10DB;&#x10D0;&#x10DA;&#x10E3;&#x10E0;&#x10D8; &#x10E1;&#x10D0;&#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10DD;
              i.bx.bx-chevron-down.icon-show
              i.bx.bx-chevron-up.icon-close
            #faq-list-5.collapse(data-bs-parent='.faq-list')
              p
                | &#x10DB;&#x10D8;&#x10DC;&#x10D8;&#x10DB;&#x10D0;&#x10DA;&#x10E3;&#x10E0; &#x10E1;&#x10D0;&#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10DD; &#x10E8;&#x10D4;&#x10DB;&#x10DD;&#x10EC;&#x10D8;&#x10E0;&#x10E3;&#x10DA;&#x10DD;&#x10D1;&#x10D0;&#x10E1; &#x10EC;&#x10D0;&#x10E0;&#x10DB;&#x10DD;&#x10D0;&#x10D3;&#x10D2;&#x10D4;&#x10DC;&#x10E1; 1 (&#x10D4;&#x10E0;&#x10D7;&#x10D8;) &#x10DA;&#x10D0;&#x10E0;&#x10D8;.
          li(data-aos='fade-up' data-aos-delay='500')
            i.bx.bx-help-circle.icon-help
            a.collapsed(data-bs-toggle='collapse' data-bs-target='#faq-list-6')
              | &#x10D8;&#x10DC;&#x10E4;&#x10DD;&#x10E0;&#x10DB;&#x10D0;&#x10EA;&#x10D8;&#x10D0; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D4;&#x10D1;&#x10D6;&#x10D4;
              i.bx.bx-chevron-down.icon-show
              i.bx.bx-chevron-up.icon-close
            #faq-list-6.collapse(data-bs-parent='.faq-list')
              p
                | &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D7;&#x10D0; &#x10D5;&#x10D8;&#x10DC;&#x10D0;&#x10DD;&#x10D1;&#x10D0; &#x10D3;&#x10D0; &#x10DB;&#x10D0;&#x10D7;&#x10D8; &#x10EC;&#x10D5;&#x10DA;&#x10D8;&#x10DA;&#x10D8; &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D0;&#x10E8;&#x10D8; &#x10EC;&#x10D0;&#x10E0;&#x10DB;&#x10DD;&#x10D0;&#x10D3;&#x10D2;&#x10D4;&#x10DC;&#x10E1; &#x10E1;&#x10D0;&#x10EF;&#x10D0;&#x10E0;&#x10DD; &#x10D8;&#x10DC;&#x10E4;&#x10DD;&#x10E0;&#x10DB;&#x10D0;&#x10EA;&#x10D8;&#x10D0;&#x10E1;.
  // End Frequently Asked Questions Section
// End #main
// ======= Footer =======
footer#footer
  .footer-top
    .container
      .row
        .col-lg-3.col-md-6.footer-contact
          h3 Legalize.ge
          p
            | &#x10D7;&#x10D1;&#x10D8;&#x10DA;&#x10D8;&#x10E1;&#x10D8;
            br
            |               &#x10D7;&#x10D0;&#x10D5;&#x10D8;&#x10E1;&#x10E3;&#x10E4;&#x10DA;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10DB;&#x10DD;&#x10D4;&#x10D3;&#x10D0;&#x10DC;&#x10D8;
            br
            |               9 &#x10D0;&#x10DE;&#x10E0;&#x10D8;&#x10DA;&#x10D8;&#x10E1; &#x10E5;&#x10E3;&#x10E9;&#x10D0; #3/5
            br
            br
            strong &#x10D4;&#x10DB;&#x10D0;&#x10D8;&#x10DA;&#x10D8;
            |  info@legalize.ge
            br
        .col-lg-2.col-md-6.footer-links
          h4 &#x10DC;&#x10D0;&#x10D5;&#x10D8;&#x10D2;&#x10D0;&#x10EA;&#x10D8;&#x10D0;
          ul
            li
              i.bx.bx-chevron-right
              a(href='#hero') &#x10DB;&#x10D7;&#x10D0;&#x10D5;&#x10D0;&#x10E0;&#x10D8;
            li
              i.bx.bx-chevron-right
              a(href='#about') &#x10E9;&#x10D5;&#x10D4;&#x10DC;&#x10E1; &#x10E8;&#x10D4;&#x10E1;&#x10D0;&#x10EE;&#x10D4;&#x10D1;
            li
              i.bx.bx-chevron-right
              a(href='#testimonials') &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10D4;&#x10D1;&#x10D8;
            li
              i.bx.bx-chevron-right
              a(href='#services') &#x10DE;&#x10E0;&#x10D8;&#x10DC;&#x10EA;&#x10D8;&#x10DE;&#x10D4;&#x10D1;&#x10D8;
            li
              i.bx.bx-chevron-right
              a(href='#portfolio') &#x10DE;&#x10E0;&#x10DD;&#x10D3;&#x10E3;&#x10E5;&#x10E2;&#x10D4;&#x10D1;&#x10D8;
            li
              i.bx.bx-chevron-right
              a(href='#team') &#x10D2;&#x10E3;&#x10DC;&#x10D3;&#x10D8;
            li
              i.bx.bx-chevron-right
              a(href='#faq') &#x10EC;&#x10D4;&#x10D5;&#x10E0;&#x10DD;&#x10D1;&#x10D0;
        .col-lg-3.col-md-6.footer-links
          h4 &#x10DE;&#x10E0;&#x10D8;&#x10DC;&#x10EA;&#x10D8;&#x10DE;&#x10D4;&#x10D1;&#x10D8;
          ul
            li
              i.bx.bx-chevron-right
              |  &#x10DB;&#x10D0;&#x10E0;&#x10D7;&#x10D5;&#x10D0;
            li
              i.bx.bx-chevron-right
              |  &#x10E8;&#x10D4;&#x10DB;&#x10DD;&#x10E1;&#x10D0;&#x10D5;&#x10DA;&#x10D4;&#x10D1;&#x10D8;
            li
              i.bx.bx-chevron-right
              |  &#x10EE;&#x10D0;&#x10E0;&#x10EF;&#x10D4;&#x10D1;&#x10D8;
            li
              i.bx.bx-chevron-right
              |  &#x10E1;&#x10D0;&#x10EF;&#x10D0;&#x10E0;&#x10DD;&#x10DD;&#x10D1;&#x10D0;
            li
              i.bx.bx-chevron-right
              |  &#x10D9;&#x10DD;&#x10DC;&#x10E4;&#x10DA;&#x10D8;&#x10E5;&#x10E2;&#x10D4;&#x10D1;&#x10D8;
            li
              i.bx.bx-chevron-right
              |  &#x10D3;&#x10D0;&#x10E4;&#x10E3;&#x10EB;&#x10DC;&#x10D4;&#x10D1;&#x10D0;
  .container.d-md-flex.py-4
    .me-md-auto.text-center.text-md-start
      .copyright
        | &copy; &#x10E7;&#x10D5;&#x10D4;&#x10DA;&#x10D0; &#x10E1;&#x10D0;&#x10D0;&#x10D5;&#x10E2;&#x10DD;&#x10E0;&#x10DD; &#x10E3;&#x10E4;&#x10DA;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10D7;&#x10D0;&#x10D5;&#x10D6;&#x10D4;&#x10EA; &#x10D2;&#x10D0;&#x10D5;&#x10D8;&#x10D0;&#x10E0;&#x10D4;&#x10D7;.
        strong
          span  &#x10D2;&#x10D8;&#x10E0;&#x10E9;&#x10D8;
      .credits
    .social-links.text-center.text-md-right.pt-3.pt-md-0
      a.twitter(href='https://twitter.com/girchiparty' target='_blank')
        i.bx.bxl-twitter
      a.facebook(href='https://www.facebook.com/GirchiParty/' target='_blank')
        i.bx.bxl-facebook
      a.instagram(href='https://www.instagram.com/girchiparty/' target='_blank')
        i.bx.bxl-instagram
      a.linkedin(href='https://ge.linkedin.com/company/%E1%83%92%E1%83%98%E1%83%A0%E1%83%A9%E1%83%98-girchi' target='_blank')
        i.bx.bxl-linkedin
// End Footer
#preloader
a.back-to-top.d-flex.align-items-center.justify-content-center(href='#')
  i.bi.bi-arrow-up-short
// Vendor JS Files
script(src='assets/vendor/aos/aos.js')
script(src='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='assets/vendor/glightbox/js/glightbox.min.js')
script(src='assets/vendor/isotope-layout/isotope.pkgd.min.js')
script(src='assets/vendor/php-email-form/validate.js')
script(src='assets/vendor/purecounter/purecounter.js')
script(src='assets/vendor/swiper/swiper-bundle.min.js')
// Template Main JS File
script(src='assets/js/main.js')
script(src='assets/js/latestusers.js')

